<h2 mat-dialog-title style="text-align:center;">
  <img src="/assets/img/collection/team.png" style="margin-bottom:10px;"/>&nbsp;List team on weekly planning&nbsp;
  <img src="/assets/img/collection/calendar.png" style="margin-bottom:10px;"/>&nbsp;{{data.value.getStartDate() | date:format }}&nbsp;-
  <img src="/assets/img/collection/calendar.png" style="margin-bottom:10px;"/>&nbsp;{{data.value.getEndDate() | date:format }}
</h2>
<mat-dialog-content>
    <table mat-table [dataSource]="getTeams()" style="width:100%;">

      <!-- Position Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element;let i = index;">
            {{ i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Role Type</th>
        <td mat-cell *matCellDef="let element">
            <app-role-cell [role]="element.getRoleType()"></app-role-cell>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element">
            {{ element.getParty().getName() }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone</th>
        <td mat-cell *matCellDef="let element">
            <img src="/assets/img/collection/phone.png"/>&nbsp;
            {{ element.getParty().getPhone() }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-Mail</th>
        <td mat-cell *matCellDef="let element">
            <img src="/assets/img/collection/email.png"/>&nbsp;
            {{ element.getParty().getEmail() }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/back.png"/>&nbsp;&nbsp;Cancel
  </button>
</mat-dialog-actions>
