<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">{{title}}</h4>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="getLoading()">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <div *ngIf="task.getError()" class="alert alert-danger">
      <button type="button" class="close" (click)="task.clearError()">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{task.getError().name}} !</strong>
      <br /> {{task.getError().message}}
    </div>
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null);">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" [matAutocomplete]="auto" [formControl]="search">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of getAutocomplete()" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="4">
        <mat-form-field>
          <input matInput placeholder="Project" [value]="siteWork?.getSite()?.getName()" disabled type="text">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1"></mat-grid-tile>


    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table [dataSource]="datasource" matSort class="content" style="min-width:100%;" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">
            {{row?.getDescription()}}
          </td>
        </ng-container>

        <ng-container matColumnDef="taskType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Type</th>
          <td mat-cell *matCellDef="let row">
            <app-role-cell [role]="getTaskType(row)"></app-role-cell>
          </td>
        </ng-container>

        <ng-container matColumnDef="activity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity</th>
          <td mat-cell *matCellDef="let row">
            {{ getActivity(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">
            <app-status-cell [status]="row.getStatus()"></app-status-cell>
          </td>
        </ng-container>

        <ng-container matColumnDef="severity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Severity</th>
          <td mat-cell *matCellDef="let row">
            <button mat-button (click)="showDetailSeverity(row)">
              <app-severity-cell [severity]="row.getSeverity()"></app-severity-cell>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button *ngIf="row.getStatus() === 'ON_PROGRESS' || row.getStatus() === 'NOT_STARTED'" mat-button
              [matMenuTriggerFor]="menu">
              <img src="/assets/img/collection/action.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onSetAlarm(row)">
                <img src="/assets/img/collection/CRITICAL_E.png" style="margin-bottom:10px;" />
                &nbsp;&nbsp;Report Task
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;" style="color:aliceblue; cursor: pointer;" (click)="selectedId = row.getId()"
          [ngClass]="{'highlight-cell': selectedId == row.id}"></tr>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
