<h2 mat-dialog-title style="text-align:center;">
  <img src="/assets/img/collection/task-execution.png" style="margin-bottom:10px;" />&nbsp;Daily report
  <span>{{data?.value?.getSiteWork()?.getProjectCode()}}</span>&nbsp;<span>{{data?.value?.getSiteWork()?.getSite()?.getName()}}</span>
</h2>
<mat-grid-list cols="3" rowHeight="65px;">

  <mat-grid-tile>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Select Daily Report Date" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="date.hasError('required')">
        You must select date
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-raised-button (click)="onSelectTask()">
      <img src="/assets/img/collection/project.png" style="margin-bottom:8px;" />&nbsp;&nbsp;
      <span style="color: rgb(92, 91, 91)">Select Task</span>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <!-- <mat-form-field>
      <input matInput placeholder="OPEX" [(ngModel)]="opex" [value]="opex | localCurrency"
      [disabled]="getCoordinator()">
      <span matPrefix>
        <img src="/assets/img/collection/price.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
      </span>
    </mat-form-field> -->
  </mat-grid-tile>
</mat-grid-list>

<mat-dialog-content>
  <mat-table [dataSource]="getTaskExecutions()" style="width:100%;">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let row;let i = index;">
        {{ i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef>Activity</th>
      <td mat-cell *matCellDef="let row">
        {{ activities[row?.getTask()?.getActivity()?.getName()] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="manHours">
      <th mat-header-cell *matHeaderCellDef> Manhours </th>
      <td mat-cell *matCellDef="let row;let i = index;">
        <mat-form-field style="width:100px;">
          <input type="number" matInput [ngModel]="row?.getManHour()" min="0" (ngModelChange)="changeManHours(i, $event)"
            autocomplete="off">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row;let i = index;">
        <div class="row">
          <div class="col-md-3">
            <mat-checkbox [disabled]="row?.getTask()?.getSeverity() !== 'NORMAL'"
            class="example-margin" [ngModel]="row?.getFinish()" (ngModelChange)="changeStatus(i, $event)"></mat-checkbox>
          </div>
          <div class="col-md-9">
            <span *ngIf="row?.getFinish() === true; then done; else progress"></span>
            <ng-template #done>
              <img src="/assets/img/collection/DONE.png" style="margin-bottom:10px;" [matTooltip]="'Done'" />
            </ng-template>
            <ng-template #progress>
              <img src="/assets/img/collection/ON_PROGRESS.png" style="margin-bottom:10px;" [matTooltip]="'On Progress'" />
            </ng-template>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef>Severity</th>
      <td mat-cell *matCellDef="let row;let i = index;">
        <div *ngFor="let task of selectedTask">
          <span *ngIf="task?.getId() === row?.getTask()?.getId()">
            <button mat-button (click)="setSeverityTask(row?.getTask())" [disabled]="task?.getPlanStatus() === 'DONE'">
              <app-severity-cell [severity]="task?.getSeverity()"></app-severity-cell>
            </button>
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef>Resource</th>
      <td mat-cell *matCellDef="let row;let i = index;">
        <div *ngFor="let config of taskExecutionResources;">
          <mat-form-field *ngIf="config?.taskId === row?.getTask()?.getId()">

            <mat-select [(ngModel)]="config.resourceIds" [placeholder]="getResources().length === 0 ? 'Not available' : ' Resources'"
              (selectionChange)="changeResources(row?.getTask()?.getId(), $event.value)" multiple>
              <mat-option *ngFor="let option of getResources()" [value]="option?.getId()">
                <img src="/assets/img/collection/{{option?.getRoleType()}}.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
                {{option?.getParty()?.getName()}}
              </mat-option>
            </mat-select>
            <span matPrefix>
              <img src="/assets/img/collection/team.png" style="margin-bottom:10px;" />
            </span>
          </mat-form-field>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row;let i = index;">
        <div class="row">
          <div class="col-md-6">
            <button mat-icon-button (click)="showDescTask(row?.getTask())" matTooltip="Task Description">
              <mat-icon color="primary">info</mat-icon>
            </button>
          </div>
          <div class="col-md-6">
            <button mat-icon-button (click)="deleteTask(row?.getTask()?.getId())" matTooltip="Delete Task">
              <mat-icon color="warn">close</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/back.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="data.value" [disabled]="invalid()">
    <img src="/assets/img/collection/{{ invalid() ? 'CANCEL' : 'save' }}.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
