<mat-card>
  <mat-grid-list cols="12" rowHeight="65px">
    <mat-grid-tile colspan="2">
      <app-type-filter style="width:100%;" [typeFilters]="typeFilters" [formControl]="filterControlTypes">
      </app-type-filter>
    </mat-grid-tile>

    <mat-grid-tile colspan="3">
      <app-search style="width:100%; padding-left: 10%;" [data]="datasource.data" [typeFilter]="filterControlTypes.value"
        [formControl]="searchControl"></app-search>
    </mat-grid-tile>

    <mat-grid-tile colspan="5"></mat-grid-tile>

    <mat-grid-tile>
      <span *ngFor="let type of actionTypes">
        <button style="cursor: pointer" class="btn btn-info btn-xs" *ngIf="type === 'ADD'"
          (click)="onClick({type: 'ADD', value: {}})">
          <i class="fa fa-plus"></i>&nbsp;&nbsp;Add
        </button>
      </span>
    </mat-grid-tile>

  </mat-grid-list>
  <mat-card-content>
    <mat-table class="mat-elevation-z0" style="min-width: 100%;" [dataSource]="datasource" matSort>
      <span *ngFor="let column of columnConfig; let i = index">
        <span *ngIf="column?.columnType === columnType.string then STRING"></span>
        <span *ngIf="column?.columnType === columnType.object then ARRAYOBJECT"></span>
        <span *ngIf="column?.columnType === columnType.action then ACTION"></span>
        <span *ngIf="column?.columnType === columnType.currency then CURRENCY"></span>

        <ng-template #ARRAYOBJECT>
          <ng-container [matColumnDef]="column.key">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.label}} </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngFor="let val of element[column.key]">
                {{val[column['config']['key']]}},&nbsp;
              </span>
            </mat-cell>
          </ng-container>
        </ng-template>

        <ng-template #STRING>
          <span *ngIf="column.key === 'no' then NO else LABEL"></span>
          <ng-template #NO>
            <ng-container [matColumnDef]="column.key">
              <mat-header-cell *matHeaderCellDef> {{column.label}} </mat-header-cell>
              <mat-cell *matCellDef="let element;let i = index;">{{(pageIndex*pageSize)+i+1}}</mat-cell>
            </ng-container>
          </ng-template>
          <ng-template #LABEL>
            <ng-container [matColumnDef]="column.key">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.label}} </mat-header-cell>
              <mat-cell *matCellDef="let element">{{element[column.key]}} </mat-cell>
            </ng-container>
          </ng-template>
        </ng-template>

        <ng-template #CURRENCY>
          <ng-container [matColumnDef]="column.key">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.label}} </th>
            <td mat-cell *matCellDef="let element">
              {{element[column.key] | currency: column['local']}}
            </td>
          </ng-container>
        </ng-template>

        <ng-template #ACTION>
          <ng-container [matColumnDef]="column.key">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <span *ngFor="let action of actionTypes">
                  <button *ngIf="action !== 'ADD'" mat-menu-item (click)="onClick({
                                type: action,
                                value: element
                              })">
                    {{action}}
                  </button>
                </span>
              </mat-menu>
            </td>
          </ng-container>
        </ng-template>
      </span>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="[]" (page)="pageSize = $event.pageSize; pageIndex=$event.pageIndex"
      [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
    </mat-paginator>
  </mat-card-content>
</mat-card>
