<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{title}}</h5>
    <div class="toolbar"></div>

    <!-- <div class="example-loading-shade" *ngIf="">
        <mat-spinner [color]="'warn'"></mat-spinner>
      </div> -->
    <!-- End Loading -->

    <!-- <div *ngIf="report.getError()" class="alert alert-danger">
          <button type="button" class="close" (click)="report.clearError()">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>{{report.getError().name}} !</strong>
          <br /> {{report.getError().message}}
        </div> -->
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null)">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" [matAutocomplete]="auto" [formControl]="search">
          <mat-autocomplete #auto="matAutocomplete">
            <!-- <mat-option *ngFor="let option of getAutocomplete()" [value]="option">
                  {{option}}
                </mat-option> -->
          </mat-autocomplete>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <!-- <button mat-raised-button [matMenuTriggerFor]="menu">
            <img src="/assets/img/collection/progress_report.png" />&nbsp;
            Status Description
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let status of statusType">
              <img style="margin-bottom:10px;" src="/assets/img/collection/{{status}}.png" />&nbsp;&nbsp;
              {{statusLabel[status]}}
            </button>
          </mat-menu> -->
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <!-- <button mat-raised-button [matMenuTriggerFor]="menu1">
            <img src="/assets/img/collection/alert1.png" />&nbsp;
            Severity Description
          </button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item>
              <img style="margin-bottom:10px;" src="/assets/img/collection/NORMAL.png" />&nbsp;&nbsp;
              Normal
            </button>
            <button mat-menu-item>
              <img style="margin-bottom:10px;" src="/assets/img/collection/MAJOR_I.png" />&nbsp;&nbsp;
              Major
            </button>
            <button mat-menu-item>
              <img style="margin-bottom:10px;" src="/assets/img/collection/CRITICAL_I.png" />&nbsp;&nbsp;
              Critical
            </button>
          </mat-menu> -->
      </mat-grid-tile>

    </mat-grid-list>
    <div class="row">
      <div class="col-md-12">
        <mat-accordion [hideToggle]="true">
          <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
            <mat-expansion-panel-header class="mat-row">
              <mat-panel-description>
                <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
                Filter Project By ...
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-grid-list cols="16">
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select multiple [(ngModel)]="ngModelStatus" placeholder="Filter By Status">
                    <mat-option *ngFor="let option of statusType" [value]="option" (click)="onFilter({type: 'status', source: sourceData, value: ngModelStatus})">
                      <!-- <app-status-cell [status]="option"></app-status-cell> -->
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ngModelOpex" placeholder="Filter By Opex">
                    <mat-option value=">100" (click)="onFilter({type: 'opex', source: sourceData, value: ngModelOpex})">
                      More Then 100%
                    </mat-option>
                    <mat-option value="<100" (click)="onFilter({type: 'opex', source: sourceData, value: ngModelOpex})">
                      Less Then 100%
                    </mat-option>
                    <mat-option value="=100" (click)="onFilter({type: 'opex', source: sourceData, value: ngModelOpex})">
                      Equal To 100%
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ngModelSeverity" placeholder="Filter By Severity">
                    <mat-option *ngFor="let alarm of severityStatus" [value]="alarm" (click)="onFilter({type: 'severity', source: sourceData, value: ngModelSeverity})">
                      <img src="/assets/img/collection/{{alarm}}.png" />&nbsp;
                      {{severityLabel[alarm]}}
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ngModelPoStatus" placeholder="Filter By PO Status">
                    <mat-option *ngFor="let status of poStatus" [value]="status" (click)="onFilter({type: 'poStatus', source: sourceData, value: ngModelPoStatus})">
                      {{poStatusLabel[status]}}
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table #table [dataSource]="datasource" matSort class="content" style="min-width:170%;" (matSortChange)="sortData($event)">

          <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="projectCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Project ID</mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
          {{row?.getProjectCode}}
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="site">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Site</mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
          {{ row?.getSite?.getName }}
        </mat-cell>
      </ng-container>

        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Duration</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
            {{ row?.duration ? (row?.duration) : 0 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalOpex">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Total Opex</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
            {{ row?.getTotalOpex ? (row?.getTotalOpex | localCurrency) + " / ": (0 | localCurrency) + " / "}}&nbsp;
            <span style="color:rgb(199, 0, 0);">{{row?.percentageOpex}}%</span>
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="severity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Severity</mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
          <img style="margin-bottom:10px;" src="/assets/img/collection/{{row?.getSeverity}}.png" [matTooltip]="severityLabel[row?.getSeverity]" />&nbsp;&nbsp;
        </mat-cell>
          
        </ng-container> 
          <ng-container matColumnDef="planEd">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Plan ED </mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
            {{row?.planEd ? row?.planEd : 0}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="planTd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Plan TD</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
            {{row?.planTd ? row?.planTd : 0}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="planDd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Plan DD</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
            {{row?.planDd ? row?.planDd : 0}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actualEd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Actual ED </mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
            {{row?.actualEd ? row?.actualEd : 0}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actualTd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Actual TD</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
            {{row?.actualTd ? row?.actualTd : 0}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actualDd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Actual DD</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
            {{row?.actualDd ? row?.actualDd : 0}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="bast">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Bast</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row?.getId)">
            <span *ngIf="setBastStatus(row?.getDocuments) === 'None'" style="font-size: 12px; color:rgb(131, 131, 131)">
              {{setBastStatus(row?.getDocuments)}}
            </span>
            <span *ngIf="setBastStatus(row?.getDocuments) !== 'None'" style="font-size: 12px; color:rgb(170, 135, 19); font-weight: bold">
              {{setBastStatus(row?.getDocuments) === 'APPROVE' ? 'DONE' : setBastStatus(row?.getDocuments)}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row.getId)">
            <img style="margin-bottom:10px;" src="/assets/img/collection/{{row?.getStatus}}.png" [matTooltip]="statusLabel[row?.getStatus]" />&nbsp;&nbsp;
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row.getId)">
            {{ row.getStartDate | date: 'mediumDate' }}
            <span class="trigger" *ngIf="row.getStartDate === undefined || row.getStartDate === null ">None</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onNavigate(row.getId)">
            {{ row.getEndDate | date: 'mediumDate'}}
            <span class="trigger" *ngIf="row.getEndDate === undefined || row.getEndDate === null ">None</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button [matMenuTriggerFor]="menu">
              <img src="/assets/img/collection/action.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showDetailValue(row)">
                <img src="/assets/img/collection/price.png" />&nbsp;
                Detail Value
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns; let i = index" style="color:aliceblue;" class="rowAction"
          [tabindex]="i" style="cursor:pointer"></mat-row>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>

<button color="primary" mat-raised-button style="position: fixed; bottom: 10px; right: 45px" (click)="exportExcel()">
  <img src="/assets/img/collection/excel.png" style='margin-bottom:4px;' />&nbsp;
  Export Excel
</button>
