<div class="row" style="margin-top: -5.5%">
  <div class="col-md-5">
    <div class="card" style="height: 55px;">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2" style="margin-top: -3.5%">
            <button color="warn" mat-mini-fab>
              <mat-icon>date_range</mat-icon>
            </button>
          </div>
          <div class="col-md-9" style="text-align: center; color: rgb(85, 84, 84); font-size: 14px; margin-top: -0.5%;">
            <div style="padding-left: 2%; margin-top: -4%">
              <app-range-date (OnSelectDate)="setRangeDate($event)" [range]="range"></app-range-date>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: -3.5%;">
  <div class="col">
    <app-widget-component [data]="documentCreate"></app-widget-component>
  </div>
  <div class="col">
    <app-widget-component [data]="documentSubmit"></app-widget-component>
  </div>
  <div class="col">
    <app-widget-component [data]="documentApprove"></app-widget-component>
  </div>
  <div class="col">
    <app-widget-component [data]="documentReject"></app-widget-component>
  </div>
</div>

<div class="row" style="margin-top: -3.5%;">
  <div class="col-md-3">
    <app-widget-component [data]="totalProject"></app-widget-component>
    <app-widget-component [data]="valueOnDone"></app-widget-component>
    <app-widget-component [data]="valueOnProgress"></app-widget-component>
  </div>
  <div class="col-md-9">
    <div class="card" style="height: 82%">
      <div class="card-body">
        <div class="row" style="text-align: left; color: rgb(194, 192, 192); font-size: 14px">
          <div class="col-md-4">
            Pie Chart
          </div>
        </div>
        <div class="row" style="margin-top: -3%">
          <div class="col-md-12">
            <app-pie-chart [view]="pieChartOptions.view" [data]="pieChartOptions.data" [labels]="pieChartOptions.labels"
              [legend]="pieChartOptions.legend" [legendPosition]="pieChartOptions.legendPosition" [legendTitle]="pieChartOptions.legendTitle"
              [animation]="pieChartOptions.animation">
            </app-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
