<mat-tab-group style="margin-top: -76px;">
  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/img/collection/personProgress.png" style='margin-bottom:7px;' />&nbsp;
      Summary Report
    </ng-template>
    <button mat-raised-button  style="position: absolute; bottom: 10px; right: 35px" (click)="onSetting()">
      <img src="/assets/img/collection/action.png" style='margin-bottom:7px;' />&nbsp;
      Setting Report
    </button>
    <app-report [report]="summaryReport"></app-report>
  </mat-tab>
</mat-tab-group>
