<h2 mat-dialog-title style="text-align:center">
    <img src="/assets/img/collection/report.png" />&nbsp;
    Setting
  </h2>
  <mat-dialog-content>
    <mat-grid-list cols="1" rowHeight="65px;">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput [matDatepicker]="start" placeholder="Start Date"
          [formControl]="startDate">
          <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
          <mat-datepicker #start></mat-datepicker>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/calendar.png" />&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput [matDatepicker]="end" placeholder="End Date" [min]="startDate.value"
          [formControl]="endDate">
          <mat-datepicker-toggle matSuffix [for]="end" [disabled]="startDate.invalid"></mat-datepicker-toggle>
          <mat-datepicker #end></mat-datepicker>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/calendar.png" />&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>
      <img src="/assets/img/collection/CANCEL.png" />&nbsp;&nbsp;Cancel
    </button>
    <button mat-raised-button [mat-dialog-close]="{startDate: startDate.value, endDate: endDate.value}"
    [disabled]="endDate.invalid || startDate.invalid">
      <img src="/assets/img/collection/save.png" />&nbsp;&nbsp;Save
    </button>
  </mat-dialog-actions>
