<h2 mat-dialog-title style="text-align:center">
  <img src="/assets/img/collection/calendar.png" />&nbsp;
  Weekly Planning
</h2>
<div class="row">
  <div class="col-md-6">
    <mat-grid-list cols="3" rowHeight="25px" style="font-size:12px;
    opacity: 0.80;">
      <mat-grid-tile>Activity</mat-grid-tile>
      <mat-grid-tile>Status</mat-grid-tile>
      <mat-grid-tile>Severity</mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="col-md-6">
    <mat-grid-list cols="3" rowHeight="25px" style="font-size:12px;
    opacity: 0.80;">
      <mat-grid-tile>Activity</mat-grid-tile>
      <mat-grid-tile>Status</mat-grid-tile>
      <mat-grid-tile>Severity</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<mat-dialog-content style="height:255px; max-height: 255px;background-color: rgb(240, 240, 240)">
  <div class="row">
    <div class="col-md-12" style="text-align:center;" *ngIf="availableTask.length === 0 && selectedTask.length === 0">
      <div style="margin: 0 auto; position: relative; top: 120px;" class="trigger">Not Available</div>
    </div>
    <div class="col-md-6">
      <mat-card *ngFor="let task of availableTask; let i = index;" class="task-card card-hover" [tabindex]="i"
        matTooltip="Click to add task">
        <div class="row" style="font-size:9px;">
          <div class="col-md-1" (click)="onShowDescription(task)">
            <mat-icon class="card-icon" style="color:rgb(20, 148, 199)">info</mat-icon>
          </div>
          <div class="col-md-4" (click)="onSelectTask(task)">
            {{ activity[task?.getActivity?.getName] }}
          </div>
          <div class="col-md-4" (click)="onSelectTask(task)">
            {{ status[task?.getStatus] }}
          </div>
          <div class="col-md-3" (click)="onSelectTask(task)">
            {{ task?.getSeverity }}
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card *ngFor="let task of selectedTask; let i = index"
      class="task-card card-hover" [tabindex]="i" matTooltip="Click to remove task">
        <div class="row" style="font-size:9px;">
          <div class="col-md-1" (click)="onShowDescription(task)">
            <mat-icon class="card-icon" style="color:rgb(20, 148, 199)">info</mat-icon>
          </div>
          <div class="col-md-4" (click)="onRemoveTask(task)">
            {{ activity[task?.getActivity?.getName] }}
          </div>
          <div class="col-md-4" (click)="onRemoveTask(task)">
            {{ status[task?.getStatus] }}
          </div>
          <div class="col-md-3" (click)="onRemoveTask(task)">
            {{ task?.getSeverity }}
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>
<mat-grid-list cols="2" rowHeight="30" style="font-size:10px;
opacity: 0.75;">
  <mat-grid-tile>
    <mat-icon style="color: rgb(231, 195, 35)">toc</mat-icon>&nbsp;
    <p style="padding-top:12px">LIST OF TASK</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon style="color: rgb(67, 192, 67)">done_all</mat-icon>&nbsp;
    <p style="padding-top:12px">SELECTED TASKS</p>
  </mat-grid-tile>
</mat-grid-list>
<mat-dialog-content style="padding-top: 12px;">
  <form [formGroup]="form">
    <mat-grid-list cols="2" rowHeight="65px;">
      <mat-grid-tile>
        <mat-form-field class="mat-form-field">
          <input matInput [matDatepicker]="startDate" autocomplete="off" placeholder="Start Date" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
          <mat-error *ngIf="form.get('startDate').hasError('required') && (form.controls['startDate'].touched || form.controls['startDate'].dirty)">
            Start Date is required
          </mat-error>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/calendar.png" />&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="mat-form-field">
          <input matInput [matDatepicker]="endDate" [min]="form.get('startDate').value" [max]="maxEndDate" placeholder="End Date"
            autocomplete="off" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
          <mat-error *ngIf="form.get('endDate').hasError('required') && (form.controls['endDate'].touched || form.controls['endDate'].dirty)">
            End Date is required
          </mat-error>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/calendar.png" />&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <!-- <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Operational" autocomplete="off" formControlName="operational" [value]="form.get('operational').value | localCurrency">
          <mat-error *ngIf="form.get('operational').hasError('required') && (form.controls['operational'].touched || form.controls['operational'].dirty)">
            Operational is required
          </mat-error>
          <span matPrefix>
            <img style="margin-bottom:8px;" src="/assets/img/collection/price.png" />&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile> -->
    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/CANCEL.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="planning" [disabled]="form.invalid">
    <img src="/assets/img/collection/save.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
