.right-align {
  text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}

.card-icon {
  position: relative;
  bottom: 2px;
  right: 10px;
  font-size: 16px;
}

.card-hover:hover {
  background-color: rgba(211, 209, 209, 0.342);
  cursor: pointer;
}

.card-hover:focus {
  background-color: rgba(221, 221, 221, 0.678);
}

.task-card {
  height: 1px;
  padding-top: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}
