<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{title}}</h5>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="getLoading()">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <div *ngIf="report.getError()" class="alert alert-danger">
      <button type="button" class="close" (click)="report.clearError()">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{report.getError().name}} !</strong>
      <br /> {{report.getError().message}}
    </div>
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null);">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" [matAutocomplete]="auto" [formControl]="search">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of getAutocomplete()" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="4">
        <mat-form-field>
          <input matInput placeholder="Project" [value]="siteWork?.getSite()?.getName()" disabled type="text">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <!-- <button mat-raised-button (click)="onCreateDocument()">
          <img src="/assets/img/collection/detail-project.png" />&nbsp;
          Add Document
        </button> -->
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <button mat-raised-button (click)="onCreate()" [disabled]="invalid()">
          <img src="/assets/img/collection/add.png" />&nbsp;
          Add Report
        </button>
      </mat-grid-tile>

    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table #table [dataSource]="datasource" matSort class="content" style="min-width:100%;"
      (matSortChange)="sortData($event)">

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cordinator">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Cordinator</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img src="/assets/img/collection/cordinator.png" />&nbsp;
            {{ getCordinator(row) }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ getDate(row) }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="opex">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Opex</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.getOpex() ? (row.getOpex() | localCurrency) : (0 | localCurrency) }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="submit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Submit</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <app-submit-cell [submit]="row.getSubmit()"></app-submit-cell>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button [matMenuTriggerFor]="menu">
              <img src="/assets/img/collection/action.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onShowTaskExecution(row)">
                <img src="/assets/img/collection/task-execution.png" />&nbsp;Task Execution
              </button>
              <button mat-menu-item *ngIf="!row.getSubmit()" (click)="onUpdate(row)">
                <img src="/assets/img/collection/update.png" />&nbsp;&nbsp;Update
              </button>
              <button mat-menu-item *ngIf="!row.getSubmit()" (click)="onSubmit(row)">
                <img src="/assets/img/collection/submit.png" />&nbsp;&nbsp;Submit
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" style="color:aliceblue;" (click)="selectedId = row.getId()"
          [ngClass]="{'highlight-cell': selectedId == row.id}"></mat-row>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
