<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{title}}</h5>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="loading">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <!-- <div *ngIf="siteWork.getError()" class="alert alert-danger">
            <button type="button" class="close" (click)="siteWork.clearError()">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{siteWork.getError().name}} !</strong>
            <br /> {{siteWork.getError().message}}
          </div> -->
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null);">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" [formControl]="search">
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <mat-select placeholder="Filter By Severity" multiple [formControl]="formFilterSeverity">
            <mat-option *ngFor="let severity of severityValue" [value]="severity">
                {{severityLabel[severity]}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2"></mat-grid-tile>
      <mat-grid-tile colspan="2">
        <button mat-raised-button (click)="onCreate()">
          <img src="/assets/img/collection/add.png" />&nbsp;
          Add Task
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table #table [dataSource]="datasource" matSort class="content" style="min-width:100%" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="no">
          <mat-header-cell mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <td mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="activity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Activity</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <!-- <app-cell-task-type [taskType]="row?.getActivity?.getName"></app-cell-task-type> -->
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="severity">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Severity</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">
            <!-- <app-severity-cell [severity]="row?.getSeverity"></app-severity-cell> -->
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">
            {{row?.getStartDate | date: 'mediumDate'}}
            <span class="trigger" *ngIf="row.getStartDate === undefined || row.getStartDate === null ">None</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <mat-header-cell mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">
            {{row?.getEndDate | date: 'mediumDate'}}
            <span class="trigger" *ngIf="row.getEndDate === undefined || row.getEndDate === null ">None</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">
            <!-- <app-status-cell [status]="row?.status"></app-status-cell> -->
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row;let i = index; columns: columns;" style="color:aliceblue; cursor: pointer;"
          class="rowAction" [tabindex]="i" (click)="showDescTask(row)"></tr>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>






<!-- <div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{title}}</h5>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="loading">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div> -->
<!-- End Loading -->
<!--
    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" autocomplete="off" [formControl]="search"> -->
<!-- <mat-autocomplete #auto="matAutocomplete">
            <mat-option [value]="">
            </mat-option>
          </mat-autocomplete> -->
<!-- <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
      </mat-grid-tile>

      <mat-grid-tile colspan="2"></mat-grid-tile>
      <mat-grid-tile colspan="2">
        <button mat-raised-button (click)="onCreate()">
          <img src="/assets/img/collection/add.png" />&nbsp;
          Add Task
        </button>
      </mat-grid-tile>
    </mat-grid-list> -->
<!-- End Filter -->
<!--
    <mat-accordion displayMode="flat" multi class="mat-table">
      <section matSort class="mat-elevation-z0 mat-header-row" (matSortChange)="sortData($event)"
      style="position: relative;">
        <span class="mat-header-cell">No.</span>
        <span class="mat-header-cell" mat-sort-header="sowId">Sow ID</span>
        <span class="mat-header-cell" mat-sort-header="sowCode">Sow Code</span>
        <span class="mat-header-cell" mat-sort-header="price">Price</span>
      </section>

      <mat-expansion-panel mat-table class="mat-elevation-z0" *ngFor="let sow of datasource.filteredData; let i = index">
        <mat-expansion-panel-header class="mat-row">
          <span class="mat-cell">
            {{ (pageIndex*pageSize) + i + 1 }}
          </span>
          <span class="mat-cell">
            <img src="/assets/img/collection/key1.png" />&nbsp;
            {{sow.key}}
          </span>
          <span class="mat-cell">
            <img src="/assets/img/collection/sow.png" style="margin-bottom:10px;" />&nbsp;
            {{sow.sow?.getSowType?.getSowCode}}
          </span>
          <span class="mat-cell">
            <img src="/assets/img/collection/price.png" style="margin-bottom:10px;" />&nbsp;
            {{sow.sow?.getSowType?.getPrice | localCurrency}}
          </span>
        </mat-expansion-panel-header>
        <div style="padding-top: 15px">
          <table class="table table-hover">
            <thead style="font-size:12px">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Task Type</th>
                <th scope="col">Activity</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Severity</th>
              </tr>
            </thead>
            <tbody style="font-size:13px">
              <tr *ngFor="let task of sow['values']; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <ng-template [ngIf]="task['taskType'] === 'ENGINEER'">
                    <img src="/assets/img/collection/ENGINEER.png" />&nbsp;
                  </ng-template>
                  <ng-template [ngIf]="task['taskType'] === 'TECHNICIAN'">
                    <img src="/assets/img/collection/TECHNICIAN.png" />&nbsp;
                  </ng-template>
                  <ng-template [ngIf]="task['taskType'] === 'DOCUMENTATION'">
                    <img src="/assets/img/collection/DOCUMENTATION.png" />&nbsp;
                  </ng-template>
                  {{task['taskType']}}
                </td>
                <td>
                  {{task['activity']['name']}}
                </td>
                <td>
                  <span *ngIf="task['startDate'] !== undefined && task['startDate'] !== null; else none">
                    <img src="/assets/img/collection/calendar.png" />&nbsp;
                    {{task['startDate'] | date: 'longDate'}}
                  </span>
                  <ng-template #none>
                    <span class="trigger">None</span>
                  </ng-template>
                </td>
                <td>
                  <span *ngIf="task['endDate'] !== undefined && task['endDate'] !== null; else none">
                    <img src="/assets/img/collection/calendar.png" />&nbsp;
                    {{task['endDate'] | date: 'longDate'}}
                  </span>
                  <ng-template #none>
                    <span class="trigger">None</span>
                  </ng-template>
                </td>
                <td>
                  <app-status-cell [status]="task['status']"></app-status-cell>
                </td>
                <td>
                  <app-severity-cell [severity]="task['severity']"></app-severity-cell>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-paginator #paginator [length]="datasource.filteredData.length" [pageIndex]="pageIndex" [pageSize]="pageSizes"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator> -->
<!-- End Paginator -->

<!-- </div>
</div> -->
