// .mat-accordion .mat-header-row {
//   padding-left: 1.5rem;
//   padding-right: 2rem;
//   border-bottom: none;
// }

// .mat-expansion-panel-header.mat-row {
//   border-bottom: 1px solid rgb(223, 220, 220);
// }

//copied from https://github.com/angular/material2/blob/master/src/lib/table/table.scss
// $mat-header-row-height: 56px;
// $mat-row-height: 48px;
// $mat-row-horizontal-padding: 24px;

// .mat-table {
//   display: block;
// }

// .mat-header-row {
//   min-height: $mat-header-row-height;
// }

// .mat-row {
//   min-height: $mat-row-height;
// }

// .mat-row, .mat-header-row {
//   display: flex;
//   border-bottom-width: 1px;
//   border-bottom-style: solid;
//   align-items: center;
//   padding: 0 $mat-row-horizontal-padding;
//   box-sizing: border-box;

//   &::after {
//     display: inline-block;
//     min-height: inherit;
//     content: '';
//   }
// }

// .mat-cell, .mat-header-cell {
//   padding-top: 14px;
//   flex: 1;
//   overflow: hidden;
//   word-wrap: break-word;
// }

