<mat-card style="margin-top: -27px">
  <mat-card-content>
    <div class="row" style="font-size:12px; padding-bottom: 8px;font-weight: 600">
      <div class="col-md-2">Project ID</div>
      <div class="col-md-2">Site</div>
      <div class="col-md-2">Start Date</div>
      <div class="col-md-2">End Date</div>
      <div class="col-md-2">Coordinator</div>
      <div class="col-md-2">Total Opex</div>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="row" style="padding-top: 8px; padding-bottom: 8px; font-size:12px">
      <div class="col-md-2">{{projectId}}</div>
      <div class="col-md-2">{{site}}</div>
      <div class="col-md-2">{{startDate}}</div>
      <div class="col-md-2">{{endDate}}</div>
      <div class="col-md-2">{{coordinator}}</div>
      <div class="col-md-2">{{totalOpex | localCurrency}} / 0</div>
    </div>
    <mat-divider [inset]="true"></mat-divider>

    <div class="row" style="margin-top: 18px;">
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Major I" readonly [value]="majorI">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Major E" readonly [value]="majorE">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Critical I" readonly [value]="criticalI">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Critical E" readonly [value]="criticalE">
        </mat-form-field>
      </div>
    </div>

    <div class="row mat-elevation-z0" style="margin-top: -10px;">
      <mat-table style="width:100%; max-height: 300px;" [dataSource]="alarmsActive">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="activity">
          <th mat-header-cell *matHeaderCellDef>Activity</th>
          <td mat-cell *matCellDef="let element">{{element?.getActivity}}</td>
        </ng-container>
        <ng-container matColumnDef="severity">
          <th mat-header-cell *matHeaderCellDef>Severity</th>
          <td mat-cell *matCellDef="let element">
            <app-severity-cell [severity]="element?.getSeverity"></app-severity-cell>
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{element?.getDescription}}</td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="alarmColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: alarmColumns; let i = index"
          [ngClass]="{'highlight-cell': rowIndex === i }" [tabindex]="i" style="cursor:pointer"
          (click)="onSelectRow(row); rowIndex = i" (dblclick)="selectedProject = row; onUpdateProject()"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card style="margin-top: 10px;">
  <mat-card-content>
    <div class="mat-elevation-z0">
      <mat-table style="width:100%; max-height: 300px" [dataSource]="ssowData">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="sowCode">
          <th mat-header-cell *matHeaderCellDef>SSOW Code</th>
          <td mat-cell *matCellDef="let element">
            {{element?.sowCode}}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">
            {{element?.description}}
          </td>
        </ng-container>
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef>Progress</th>
          <td mat-cell *matCellDef="let element">
            <app-progress-cell [progress]="element?.progress"></app-progress-cell>
          </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="ssowColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ssowColumns; let i = index"
          [ngClass]="{'highlight-cell': rowIndex === i }" [tabindex]="i" style="cursor:pointer"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card style="margin-top: 10px; margin-bottom: 10px;">
  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <span style="font-size:12px;">Last Daily Planning</span>&nbsp;:&nbsp;&nbsp;
        <span style="font-weight: 600">{{lastDailyReport | date: 'longDate'}}</span>
      </div>
      <div class="col-md-6">
        <span style="font-size:12px;">Last Daily Report</span>&nbsp;:&nbsp;&nbsp;
        <span style="font-weight: 600">{{lastDailyPlanning | date: 'longDate'}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>