<h2 mat-dialog-title style="text-align:center;">
  Project list on purchase order
  <img src="/assets/img/collection/budget.png" style="margin-bottom: 10px;" />&nbsp;Form purchase order
</h2>
<mat-dialog-content>
  <mat-grid-list cols="3" rowHeight="65px">

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="PO Number" [formControl]="poNumber" autocomplete="off">
        <mat-error *ngIf="poNumber.hasError('required')">
          You must input value po number
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/key.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select [placeholder]="getCustomers().length === 0 ? 'Not available' : 'Customer'" [formControl]="customer">
          <mat-option *ngFor="let option of getCustomers()" [value]="option.getId()">
            <img src="/assets/img/collection/customer.png">&nbsp;&nbsp;
            {{ option.getParty().getName() }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="customer.hasError('required')">
          You must select on customer
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/customer.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select [placeholder]="getSales().length === 0 ? 'Not available' : 'Sales'" [formControl]="sales">
          <mat-option *ngFor="let option of getSales()" [value]="option.getId()">
            <img src="/assets/img/collection/customer.png">&nbsp;&nbsp;
            {{ option.getParty().getName() }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="sales.hasError('required')">
          You must select on sales
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/sales.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-form-field>
        <mat-select [placeholder]="getPartners().length === 0 ? 'Not available' : 'Partner'" [formControl]="partner">
          <mat-option *ngFor="let option of getPartners()" [value]="option.getId()">
            <img src="/assets/img/collection/partner.png">&nbsp;&nbsp;
            {{ option.getParty().getName() }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="sales.hasError('required')">
          You must select on sales
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/partner.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="publish" placeholder="Publish Date" [formControl]="publishDate" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="publish"></mat-datepicker-toggle>
        <mat-datepicker #publish></mat-datepicker>
        <mat-error *ngIf="publishDate.hasError('required')">
          You must input Publish date
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/calendar.png" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Expired Date" [disabled]="publishDate.invalid"
          [formControl]="expiredDate" autocomplete="off" [min]="publishDate.value">
        <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="publishDate.invalid"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="expiredDate.hasError('required')">
          You must input expired date
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/calendar.png" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Total PO Value" [formControl]="poValue">
        <span matPrefix>
          <img src="/assets/img/collection/price.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field>
        <mat-select [placeholder]="getProjects().length === 0 ? 'Not available' : 'Projects'" [formControl]="siteWork"
          multiple>

          <mat-option *ngFor="let option of getProjects()" [value]="option.getId()" width="200px">
            <div class="row">
              <div class="col-md-6">
                <img src="/assets/img/collection/key.png" />&nbsp;{{option.getProjectCode()}}
              </div>
              <div class="col-md-6">
                <img src="/assets/img/collection/Site.png" />&nbsp;{{option.getSite().getName()}}
              </div>
            </div>
          </mat-option>
        </mat-select>
        <span matPrefix>
          <img src="/assets/img/collection/project.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <table mat-table [dataSource]="getSiteWorks()" style="width:100%;">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i = index;">
        {{ i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="projectCode">
      <th mat-header-cell *matHeaderCellDef>Project Code</th>
      <td mat-cell *matCellDef="let element;">
        <img src="/assets/img/collection/key.png" />&nbsp;&nbsp;{{element.getProjectCode()}}
      </td>
    </ng-container>

    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef>Site</th>
      <td mat-cell *matCellDef="let element;">
        <img src="/assets/img/collection/Site.png" />&nbsp;&nbsp;{{ element.getSite().getName() }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pm">
      <th mat-header-cell *matHeaderCellDef>Project Manager</th>
      <td mat-cell *matCellDef="let element;">
        <img src="/assets/img/collection/pm.png" />&nbsp;&nbsp;{{ getPM(element) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef>SOW Price</th>
      <td mat-cell *matCellDef="let element;">
        <img src="/assets/img/collection/price.png" />&nbsp;&nbsp;{{ getBudget(element) }}
      </td>
    </ng-container>


    <ng-container matColumnDef="poValue">
      <th mat-header-cell *matHeaderCellDef>PO Value</th>
      <td mat-cell *matCellDef="let element;let i = index;" style="width:200px;">
        <mat-form-field>
          <input matInput placeholder="" [(ngModel)]="valueSiteWorks[i]" autocomplete="off" (ngModelChange)="changePoValue(i, $event)">
          <span matPrefix>
            <img src="/assets/img/collection/price.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/back.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="data.value" [disabled]="invalid()">
    <img src="/assets/img/collection/{{ invalid() ? 'CANCEL' : 'save'}}.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
