<h2 mat-dialog-title style="text-align:center">
  <img src="/assets/img/collection/team.png" />&nbsp;
  Team
</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-grid-list cols="2" rowHeight="65px;">
      <mat-grid-tile>
        <mat-form-field>
          <mat-select [placeholder]="picData.length === 0 ? 'Not Available':'PIC'" formControlName="cordinator"
            [compareWith]="compareSelectedItems">
            <app-mat-select-search [(data)]="picData"></app-mat-select-search>
            <mat-option *ngFor="let coordinator of picData" [value]="coordinator">
              {{ coordinator['party']?.name }}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/cordinator.png" />&nbsp;
          </span>
          <mat-error *ngIf="form.get('cordinator').hasError('required') && (form.get('cordinator').touched || form.get('cordinator').dirty)">
            Pic is required
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select [placeholder]="engineerData.length === 0 ? 'Not Available':'Engineer'" multiple formControlName="engineer"
            [compareWith]="compareSelectedItems">
            <app-mat-select-search [(data)]="engineerData"></app-mat-select-search>
            <mat-option *ngFor="let engineer of engineerData" [value]="engineer">
              {{ engineer?.getParty?.name }}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/ENGINEER.png" />&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select [placeholder]="technicianData.length === 0 ? 'Not Available':'Technician'" multiple
            formControlName="technician" [compareWith]="compareSelectedItems">
            <app-mat-select-search [(data)]="technicianData"></app-mat-select-search>
            <mat-option *ngFor="let technician of technicianData" [value]="technician">
              {{technician?.getParty?.name}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/TECHNICIAN.png" />&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select [placeholder]="documentationData.length === 0 ? 'Not Available':'Documentation'" multiple
            formControlName="documentation" [compareWith]="compareSelectedItems">
            <app-mat-select-search [(data)]="documentationData"></app-mat-select-search>
            <mat-option *ngFor="let documentation of documentationData" [value]="documentation">
              {{documentation.getParty?.name}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/DOCUMENTATION.png" />&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/CANCEL.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="teamDialogData['team']" [disabled]="form.invalid">
    <img src="/assets/img/collection/save.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
