<h1 mat-dialog-title align="center">
  Project List
</h1>
<mat-dialog-content>
  <mat-table [dataSource]="sources" class="mat-elevation-z0" style="width: 100%">
    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef>No. </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{ i + 1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{element?.assignmentCode}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="site">
      <mat-header-cell *matHeaderCellDef>Site</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{element?.site}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{element?.value | currency: 'Rp. '}}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-raised-button color="warn">Close</button>
</mat-dialog-actions>