<h2 mat-dialog-title style="text-align:center;">
  <img src="/assets/img/collection/form.png" style="margin-bottom: 10px;" />&nbsp;Form invoice
</h2>
<mat-dialog-content>
  <mat-grid-list cols="3" rowHeight="70px">

    <!-- <mat-grid-tile>
      <mat-form-field>
        <mat-select [formControl]="po" [placeholder]="getPos().length === 0 ? 'Not available' : 'Purchase Order'">
          <mat-option *ngFor="let option of getPos()" [value]="option.getId()">
            <div class="col-md-6">
              {{option.getPoNumber()}}
            </div>
            <div class="col-md-6">
              {{option.getCustomer().getParty().getName()}}
            </div>
          </mat-option>
        </mat-select>
        <span matPrefix>
          <img src="/assets/img/collection/key.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile> -->

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Invoice Number" [formControl]="invoiceNumber" autocomplete="off">
        <mat-error *ngIf="invoiceNumber.hasError('required')">
          You must input value invoice number
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/key.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Invoice Value" [formControl]="invoiceValue" autocomplete="off">
        <mat-hint *ngIf="!invoiceValue.invalid">
          The remaining invoice is {{ data.value.getPurchaseOrder().getRemainingInvoice() | localCurrency }}
        </mat-hint>
        <mat-error *ngIf="invoiceValue.hasError('max')">
          Value invoice should not be more than {{ data.value.getPurchaseOrder().getRemainingInvoice() | localCurrency
          }}
        </mat-error>
        <mat-error *ngIf="invoiceValue.hasError('required')">
          You must input invoice value
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/price.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Reference BAST" [formControl]="referenceBast" autocomplete="off">
        <mat-error *ngIf="referenceBast.hasError('required')">
          You must input value reference BAST
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/detail-project.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>
<!--
    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="paymentId" placeholder="Payment Date" [formControl]="paymentDate" [min]="minDate"
          autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="paymentId"></mat-datepicker-toggle>
        <mat-datepicker #paymentId></mat-datepicker>
        <mat-error *ngIf="paymentDate.hasError('required')">
          You must input payment date
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/calendar.png" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile> -->

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="dueDateId" placeholder="Due Date" [formControl]="dueDate" [min]="minDate"
          autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="dueDateId"></mat-datepicker-toggle>
        <mat-datepicker #dueDateId></mat-datepicker>
        <mat-error *ngIf="dueDate.hasError('required')">
          You must input due date
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/calendar.png" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/back.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="data.value" [disabled]="invalid()">
    <img src="/assets/img/collection/{{ invalid() ? 'CANCEL' : 'save'}}.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
