<h1 mat-dialog-title>Form Delete</h1>
<mat-dialog-content>
  <mat-grid-list cols="1" rowHeight="90px;">
    <mat-grid-tile>
      {{ data['message'] }}
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions style="float: right">
  <button mat-raised-button [mat-dialog-close]="data['data']" color="primary">Yes</button>
  <button mat-raised-button [mat-dialog-close]="'cancel'" color="warn">No</button>
</mat-dialog-actions>
