<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{title}}</h5>
    <div class="toolbar"></div>
    <!-- 
    <div class="example-loading-shade" *ngIf="loading">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div> -->
    <!-- End Loading -->

    <!-- <div *ngIf="report.getError()" class="alert alert-danger">
        <button type="button" class="close" (click)="report.clearError()">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{report.getError().name}} !</strong>
        <br /> {{report.getError().message}}
      </div> -->
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null)">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" [matAutocomplete]="auto" [formControl]="search">
          <mat-autocomplete #auto="matAutocomplete">
            <!-- <mat-option *ngFor="let option of getAutocomplete()" [value]="option">
                {{option}}
              </mat-option> -->
          </mat-autocomplete>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4"></mat-grid-tile>
      <div *ngIf="selectField then ACTION"></div>
      <ng-template #ACTION>
        <ng-container *ngFor="let type of actionTypes">
          <div *ngIf="type === 'DETAIL' then DETAIL"></div>
          <div *ngIf="type === 'REQUEST' then REQUEST"></div>
          <div *ngIf="type === 'START' then START"></div>
          <ng-template #DETAIL>
            <mat-grid-tile colspan="1">
              <button style="cursor: pointer" matTooltip="Detail Project" class="btn btn-info btn-xs btn"
                (click)="onEventClick('DETAIL')">
                <i class="fa fa-money"></i>
              </button>
            </mat-grid-tile>
          </ng-template>
          <ng-template #REQUEST>
            <mat-grid-tile>
              <button matTooltip="Request Project ID" style="cursor: pointer" class="btn btn-warning btn-xs btn"
                (click)="onEventClick('REQUEST')">
                <i class="fa fa-paper-plane-o"></i>
              </button>
            </mat-grid-tile>
          </ng-template>
          <ng-template #START>
            <mat-grid-tile>
              <button matTooltip="Start Project" style="cursor: pointer" class="btn btn-success btn-xs btn"
                (click)="onEventClick('START')">
                <i class="fa fa-play"></i>
              </button>
            </mat-grid-tile>
          </ng-template>
        </ng-container>
      </ng-template>
    </mat-grid-list>
    <div class="row">
      <div class="col-md-12">
        <mat-accordion [hideToggle]="true">
          <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
            <mat-expansion-panel-header class="mat-row">
              <mat-panel-description>
                <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
                Filter Project By ...
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-grid-list cols="16">
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select multiple [(ngModel)]="ngModelStatus" placeholder="Filter By Status">
                    <mat-option *ngFor="let option of statusType" [value]="option"
                      (click)="onFilter({type: 'status', source: sourceData, value: ngModelStatus})">
                      <!-- <app-status-cell [status]="option"></app-status-cell> -->
                      {{option}}
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ngModelOpex" placeholder="Filter By Opex">
                    <mat-option value=">100" (click)="onFilter({type: 'opex', source: sourceData, value: ngModelOpex})">
                      More Then 100%
                    </mat-option>
                    <mat-option value="<100" (click)="onFilter({type: 'opex', source: sourceData, value: ngModelOpex})">
                      Less Then 100%
                    </mat-option>
                    <mat-option value="=100" (click)="onFilter({type: 'opex', source: sourceData, value: ngModelOpex})">
                      Equal To 100%
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ngModelSeverity" placeholder="Filter By Severity">
                    <mat-option *ngFor="let alarm of severityStatus" [value]="alarm"
                      (click)="onFilter({type: 'severity', source: sourceData, value: ngModelSeverity})">
                      <img src="/assets/img/collection/{{alarm}}.png" />&nbsp;
                      {{severityLabel[alarm]}}
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ngModelPoStatus" placeholder="Filter By PO Status">
                    <mat-option *ngFor="let status of poStatus" [value]="status"
                      (click)="onFilter({type: 'poStatus', source: sourceData, value: ngModelPoStatus})">
                      {{poStatusLabel[status]}}
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table #table [dataSource]="datasource" matSort class="content" style="min-width:100%;"
        (matSortChange)="sortData($event)">

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="projectCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Project ID</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row?.getProjectCode}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="site">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Site</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row?.getSite?.getName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Duration</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row?.duration ? (row?.duration) : 0 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalOpex">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Total Opex</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row?.getTotalOpex ? (row?.getTotalOpex | localCurrency) + " / ": (0 | localCurrency) + " / "}}&nbsp;
            <span style="color:rgb(199, 0, 0);">{{row?.percentageOpex}}%</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="severity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Severity</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img style="margin-bottom:10px;" src="/assets/img/collection/{{row?.getSeverity}}.png"
              [matTooltip]="severityLabel[row?.getSeverity]" />&nbsp;&nbsp;
          </mat-cell>
        </ng-container>
<!-- 
        <ng-container matColumnDef="planEd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Plan ED </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row?.planEd ? row?.planEd : 0}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="planTd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Plan TD</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row?.planTd ? row?.planTd : 0}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="planDd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Plan DD</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row?.planDd ? row?.planDd : 0}}
          </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="ed">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            ED<br>Actual / Plan
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
              {{row?.actualEd ? row?.actualEd : 0}}&nbsp;/&nbsp;{{row?.planEd ? row?.planEd : 0}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="td">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
              TD<br>Actual / Plan
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row?.actualTd ? row?.actualTd : 0}}&nbsp;/&nbsp;{{row?.planTd ? row?.planTd : 0}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dd">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
              DD<br>Actual / Plan
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row?.actualDd ? row?.actualDd : 0}}&nbsp;/&nbsp;{{row?.planDd ? row?.planDd : 0}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="bast">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Bast</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="setBastStatus(row?.getDocuments) === 'None'" style="font-size: 12px; color:rgb(131, 131, 131)">
              {{setBastStatus(row?.getDocuments)}}
            </span>
            <span *ngIf="setBastStatus(row?.getDocuments) !== 'None'"
              style="font-size: 12px; color:rgb(170, 135, 19); font-weight: bold">
              {{setBastStatus(row?.getDocuments) === 'APPROVE' ? 'DONE' : setBastStatus(row?.getDocuments)}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img style="margin-bottom:10px;" src="/assets/img/collection/{{row?.getStatus}}.png"
              [matTooltip]="statusLabel[row?.getStatus]" />
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.getStartDate | date: 'mediumDate' }}
            <span class="trigger" *ngIf="row.getStartDate === undefined || row.getStartDate === null ">None</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.getEndDate | date: 'mediumDate'}}
            <span class="trigger" *ngIf="row.getEndDate === undefined || row.getEndDate === null ">None</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button [matMenuTriggerFor]="menu">
              <img src="/assets/img/collection/action.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showDetailValue(row)">
                <img src="/assets/img/collection/price.png" />&nbsp;
                Detail Value
              </button>
              <button mat-menu-item (click)="onStartProject(row)">
                <img src="/assets/img/collection/CORDIANTOR.png" />&nbsp;
                Start
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns; let i = index" style="color:aliceblue;"
          [ngClass]="{'highlight-cell': rowIndex === i }" [tabindex]="i" style="cursor:pointer"
          (click)="onSelectRow(row); rowIndex = i"></mat-row>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex"
      [pageSize]="pageSize" [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
<button mat-raised-button color="primary" [matMenuTriggerFor]="menu" style="position: fixed; bottom: 10px; right: 45px">
  <img src="/assets/img/collection/excel.png" style='margin-bottom:4px;' />&nbsp;
  Export Excel
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="setInternalReport()">Internal Report</button>
  <button mat-menu-item (click)="setExternalReport()">External Report</button>
</mat-menu>