<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">{{title}}</h4>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <!-- <div *ngIf="siteWork.getError()" class="alert alert-danger">
          <button type="button" class="close" (click)="siteWork.clearError()">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>{{siteWork.getError().name}} !</strong>
          <br /> {{siteWork.getError().message}}
        </div> -->
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null);">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" [formControl]="search">
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="5"></mat-grid-tile>
      <mat-grid-tile colspan="2">
        <button mat-raised-button (click)="onCreate()">
          <img src="/assets/img/collection/add.png" />&nbsp;&nbsp;Add Document
        </button>
      </mat-grid-tile>

    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table [dataSource]="datasource" matSort class="content" style="min-width:100%; "
      (matSortChange)="sortData($event)">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row;let i = index;" (click)="rootPage(row?.getId)">
            {{ (pageIndex*pageSize) + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>Number</th>
          <td mat-cell *matCellDef="let row;let i = index;" (click)="rootPage(row?.getId)">
            {{row?.getNo}}
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let row;let i = index;" (click)="rootPage(row?.getId)">
            {{row?.getTitle}}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row;let i = index;">
            <button mat-button (click)="changeStatus(row?.getId)">
              {{row?.getStatus}}&nbsp;
              <img src="/assets/img/collection/pencil.png" style="margin-bottom:5px;">
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef>Author</th>
          <td mat-cell *matCellDef="let row;let i = index;" (click)="rootPage(row?.getId)">
            <img src="/assets/img/collection/DOCUMENTATION.png" style="margin-bottom:10px;">&nbsp;
            {{row?.getAuthor}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nik">
          <th mat-header-cell *matHeaderCellDef>NIK</th>
          <td mat-cell *matCellDef="let row;let i = index;" (click)="rootPage(row?.getId)">
            {{row?.getNIP}}
          </td>
        </ng-container>

        <ng-container matColumnDef="reviewer">
          <th mat-header-cell *matHeaderCellDef>Reviewer</th>
          <td mat-cell *matCellDef="let row;let i = index;" (click)="rootPage(row?.getId)">
            <img src="/assets/img/collection/organization.png">&nbsp;
            {{row?.getReviewer}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <img src="/assets/img/collection/update.png" />
                &nbsp;&nbsp;Update
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row;let i = index; columns: columns;" style="color:aliceblue; cursor: pointer;"
          (click)="selectedId = row?.getId" [ngClass]="{'highlight-cell': selectedId == row.id}" [tabIndex]="i" class="rowAction"></tr>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
