<h1 mat-dialog-title align="center">
  Reject Assignment
</h1>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="control" placeholder="Description">
    <mat-error *ngIf="control.getError('required')">
      Field is required
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onClose()" color="primary" [disabled]="control.invalid">Reject</button>
  <button mat-dialog-close mat-raised-button color="warn">Cancel</button>
</mat-dialog-actions>