<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{title}}</h5>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="getLoading()">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <div *ngIf="siteWork.getError()" class="alert alert-danger">
      <button type="button" class="close" (click)="siteWork.clearError()">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{siteWork.getError().name}} !</strong>
      <br /> {{siteWork.getError().message}}
    </div>
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null);">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" [matAutocomplete]="auto" [formControl]="search">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of getAutocomplete()" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <mat-select multiple [formControl]="dashboardModel">
            <mat-option *ngFor="let option of dashboardSettings" [value]="option">
              <!-- <app-status-cell [status]="option"></app-status-cell> -->
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2"></mat-grid-tile>
      <mat-grid-tile colspan="2">
        <button mat-raised-button (click)="onCreate()">
          <img src="/assets/img/collection/add.png" />&nbsp;&nbsp;Add Project
        </button>
      </mat-grid-tile>

    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table [dataSource]="datasource" matSort class="content" style="min-width:125%;"
        (matSortChange)="sortData($event)">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="projectCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Code</th>
          <td mat-cell *matCellDef="let row">
            {{ row.getProjectCode() }}
          </td>
        </ng-container>

        <ng-container matColumnDef="site">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Site</th>
          <td mat-cell *matCellDef="let row">
            {{ getSite(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="pm">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Manager</th>
          <td mat-cell *matCellDef="let row">
            <img src="/assets/img/collection/pm.png" />&nbsp;&nbsp;{{ getPM(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">
            <img style="margin-bottom:10px; cursor: pointer;" src="/assets/img/collection/{{row?.getStatus()}}.png"
              [matTooltip]="statusLabel[row?.getStatus()]" />
          </td>
        </ng-container>

        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
          <td mat-cell *matCellDef="let row" style="min-width: 200px;">
            <!-- <app-progress-cell [progress]="row.getProgress()"></app-progress-cell> -->
          </td>
        </ng-container>

        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td mat-cell *matCellDef="let row">
            {{ getStart(row) }}
            <span class="trigger" *ngIf="getStart(row) === undefined || getStart(row) === null ">None</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
          <td mat-cell *matCellDef="let row">
            {{ getEnd(row) }}
            <span class="trigger" *ngIf="getEnd(row) === undefined || getEnd(row) === null ">None</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="admin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin</th>
          <td mat-cell *matCellDef="let row">
            <img src="/assets/img/collection/admin.png" />&nbsp;&nbsp;{{ getAdmin(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button *ngIf="row.getStatus() === 'ON_PROGRESS' || row.getStatus() === 'NOT_STARTED'" mat-button
              [matMenuTriggerFor]="menu">
              <img src="/assets/img/collection/action.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onUpdate(row)">
                <img src="/assets/img/collection/update.png" style="margin-bottom:10px;" />
                &nbsp;&nbsp;Update
              </button>
              <button mat-menu-item (click)="showListReference(row)">
                <img src="/assets/img/collection/update.png" style="margin-bottom:10px;" />
                &nbsp;&nbsp;Reference List
              </button>
              <button mat-menu-item (click)="onCancel(row)">
                <img src="/assets/img/collection/CANCEL.png" style="margin-bottom:10px;" />
                &nbsp;&nbsp;Cancel
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;" style="color:aliceblue;" (click)="selectedId = row.getId()"
          [ngClass]="{'highlight-cell': selectedId == row.id}"></tr>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex"
      [pageSize]="pageSize" [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
<!-- <form action="http://localhost:3000/api/import-project" enctype="multipart/form-data" method="post" style="position: fixed; bottom: 10px; right: 45px">
  <input id="project" type="file" name="file" [formControl]="fileControl"
  (change)="handleFileInput($event.target.files)" accept=".csv" #file>
</form> -->
