<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{title}}</h5>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="getLoading()">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <div *ngIf="po.getError()" class="alert alert-danger">
      <button type="button" class="close" (click)="po.clearError()">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{po.getError().name}} !</strong>
      <br /> {{po.getError().message}}
    </div>
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null);">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" [matAutocomplete]="auto" [formControl]="search">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of getAutocomplete()" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <mat-select placeholder="Setting" multiple [formControl]="dashboardModel">
            <mat-option *ngFor="let option of dashboardSettings" [value]="option">
              {{option}}
              <!-- <app-status-cell [status]="option"></app-status-cell> -->
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile colspan="2"></mat-grid-tile>

      <mat-grid-tile colspan="2">
        <!-- <button mat-raised-button (click)="onCreate()" *ngIf="action">
          <img src="/assets/img/collection/add.png" />&nbsp;&nbsp;Add PO
        </button> -->
      </mat-grid-tile>

    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table [dataSource]="datasource" matSort class="content" style="min-width:1500px;" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="poNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Number</th>
          <td mat-cell *matCellDef="let row" (click)="onShowInvoice(row)">
            {{ row?.getPoNumber() }}
          </td>
        </ng-container>

        <ng-container matColumnDef="poValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Value</th>
          <td mat-cell *matCellDef="let row" (click)="onShowInvoice(row)">
            {{ getPoValue(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="publishDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Publish Date</th>
          <td mat-cell *matCellDef="let row" (click)="onShowInvoice(row)">
            {{ getPublishDate(row) | date: 'mediumDate' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expiredDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Expired Date</th>
          <td mat-cell *matCellDef="let row" (click)="onShowInvoice(row)">
            {{ getExpiredDate(row) | date: 'mediumDate' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
          <td mat-cell *matCellDef="let row" (click)="onShowInvoice(row)">
            {{ getCustomer(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sales">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales</th>
          <td mat-cell *matCellDef="let row" (click)="onShowInvoice(row)">
            {{ getSales(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="partner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Partner</th>
          <td mat-cell *matCellDef="let row" (click)="onShowInvoice(row)">
            {{ getPartner(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row" (click)="onShowInvoice(row)">
            <!-- <app-status-cell [status]="row.getStatus()"></app-status-cell> -->
          </td>
        </ng-container>

        <ng-container matColumnDef="totalInvoice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Invoice</th>
          <td mat-cell *matCellDef="let row" (click)="onShowInvoice(row)">
            {{ getTotalInvoice(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-button [matMenuTriggerFor]="menu" *ngIf="action">
              <img src="/assets/img/collection/action.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onShowProject(row)">
                <img src="/assets/img/collection/project.png" style="margin-bottom:10px;" />
                &nbsp;&nbsp;List Project
              </button>
              <button mat-menu-item *ngIf="row.getStatus() === 'ON_PROGRESS'" (click)="onCancel(row)">
                <img src="/assets/img/collection/CANCEL.png" style="margin-bottom:10px;" />
                &nbsp;&nbsp;Cancel
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns; let i = index" style="color:aliceblue;" class="rowAction"
          [tabindex]="i" style="cursor:pointer"></mat-row>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
