<h2 mat-dialog-title style="text-align:center;">
  Project list on purchase order
  <img src="/assets/img/collection/key.png" style="margin-bottom: 10px;" />&nbsp;{{ data.value?.getPoNumber() }}
  <img src="/assets/img/collection/customer.png" style="margin-bottom:10px;" />&nbsp;{{
  data.value?.getCustomer()?.getParty()?.getName() }}
</h2>
<mat-grid-list cols="1" rowHeight="65px">
  <mat-grid-tile>
    <mat-form-field>
      <mat-select placeholder="Add Projects" [formControl]="selectedProject" multiple (selectionChange)="onSelectProject($event.value)">
        <app-mat-select-search [(data)]="availableProject"></app-mat-select-search>
        <mat-option *ngFor="let project of availableProject" [value]="project">
          <img src="/assets/img/collection/key.png" />&nbsp;{{project.getProjectCode()}}
        </mat-option>
      </mat-select>
      <span matPrefix>
        <img src="/assets/img/collection/project.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
      </span>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
<mat-dialog-content>
  <table mat-table [dataSource]="projectResource" style="width:100%;">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i = index;">
        {{ i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="projectCode">
      <th mat-header-cell *matHeaderCellDef>Project Code</th>
      <td mat-cell *matCellDef="let element;">
        {{element.getProjectCode()}}
      </td>
    </ng-container>

    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef>Site</th>
      <td mat-cell *matCellDef="let element;">
        {{ element.getSite()?.getName() }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pm">
      <th mat-header-cell *matHeaderCellDef>Project Manager</th>
      <td mat-cell *matCellDef="let element;">
        {{ getPM(element) }}
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef>SOW price</th>
      <td mat-cell *matCellDef="let element;">
        {{ getBudget(element) }}
      </td>
    </ng-container> -->

    <ng-container matColumnDef="poValue">
      <th mat-header-cell *matHeaderCellDef>PO Value</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <mat-form-field>
          <input matInput type="currency" [value]="poValue[i]" (keyup)="onPoValueChanges(i, $event.target.value)"
            autocomplete="off">
          <span matPrefix>
            <img src="/assets/img/collection/price.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/back.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="dialogData">
    <img src="/assets/img/collection/save.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
