<h2 mat-dialog-title style="text-align:center;">
  <img src="/assets/img/collection/form.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;Form Site
</h2>
<mat-dialog-content>

  <mat-grid-list cols="2" rowHeight="70px;">

    <mat-grid-tile>
      <mat-form-field>
        <input type="text" matInput placeholder="Site Code" [formControl]="siteCode" autocomplete="off">
        <mat-error *ngIf="siteCode.hasError('required')">
          You must input value site code
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/key.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input type="text" matInput placeholder="Name" [formControl]="name" autocomplete="off">
        <mat-error *ngIf="name.hasError('required')">
          You must input value name
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input type="text" matInput placeholder="Latitude" [formControl]="latitude" autocomplete="off">
        <mat-error *ngIf="latitude.hasError('required')">
          You must input value latitude
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input type="text" matInput placeholder="Longitude" [formControl]="longitude" autocomplete="off">
        <mat-error *ngIf="longitude.hasError('required')">
          You must input value longitude
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select [placeholder]="getRegions().length === 0 ? 'Not Available' : 'Region'" [formControl]="region">
          <mat-option *ngFor="let option of getRegions()" [value]="option.getId()">
            <img src="/assets/img/collection/area.png"/>&nbsp;&nbsp;{{ option.getName()}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="region.hasError('required')">
          You must select one region
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/area.png" style="margin-bottom: 10px;"/>&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-form-field>
        <mat-select [placeholder]="getAreas().length === 0 ? 'Not Available' : 'Area'" [formControl]="area">
          <mat-option *ngFor="let option of getAreas()" [value]="option.getId()">
            <img src="/assets/img/collection/area.png"/>&nbsp;&nbsp;{{ option.getName()}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="area.hasError('required')">
          You must select one area
        </mat-error>
        <span matPrefix>
          <img src="/assets/img/collection/area.png" style="margin-bottom: 10px;"/>&nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/back.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="data.value" [disabled]="invalid()">
    <img src="/assets/img/collection/{{ invalid() ? 'CANCEL' : 'save' }}.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
