<h2 mat-dialog-title style="text-align:center">
  <img src="/assets/img/collection/calendar.png" />&nbsp;
  Daily Planning
</h2>
<div class="row">
  <div class="col-md-6">
    <mat-grid-list cols="3" rowHeight="25px" style="font-size:12px;
    opacity: 0.80;">
      <mat-grid-tile>SSOW Code</mat-grid-tile>
      <mat-grid-tile>Description</mat-grid-tile>
      <mat-grid-tile>Activity</mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="col-md-6">
    <mat-grid-list cols="3" rowHeight="25px" style="font-size:12px;
    opacity: 0.80;">
      <mat-grid-tile>SSOW Code</mat-grid-tile>
      <mat-grid-tile>Description</mat-grid-tile>
      <mat-grid-tile>Activity</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<mat-dialog-content style="height:255px; max-height: 255px;background-color: rgb(240, 240, 240)">
  <div class="row">
    <div class="col-md-12" style="text-align:center;" *ngIf="availableTask.length === 0 && selectedTask.length === 0">
      <div style="margin: 0 auto; position: relative; top: 120px;" class="trigger">Not Available</div>
    </div>
    <div class="col-md-6">
      <mat-card *ngFor="let task of availableTask; let i = index;" class="task-card card-hover" [tabindex]="i"
        matTooltip="Click to add task">
        <div class="row" style="font-size:9px;">
          <div class="col-md-1" (click)="onShowDescription(task)">
            <mat-icon class="card-icon" style="color:rgb(20, 148, 199)">info</mat-icon>
          </div>
          <div class="col-md-4" (click)="onSelectTask(task)">
            {{ activity[task?.getActivity?.getName] }}
          </div>
          <div class="col-md-4" (click)="onSelectTask(task)">
            {{ status[task?.getStatus] }}
          </div>
          <div class="col-md-3" (click)="onSelectTask(task)">
            {{ task?.getSeverity }}
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card *ngFor="let task of selectedTask; let i = index" class="task-card card-hover" [tabindex]="i"
        matTooltip="Click to remove task">
        <div class="row" style="font-size:9px;">
          <div class="col-md-1" (click)="onShowDescription(task)">
            <mat-icon class="card-icon" style="color:rgb(20, 148, 199)">info</mat-icon>
          </div>
          <div class="col-md-4" (click)="onRemoveTask(task)">
            {{ activity[task?.getActivity?.getName] }}
          </div>
          <div class="col-md-4" (click)="onRemoveTask(task)">
            {{ status[task?.getStatus] }}
          </div>
          <div class="col-md-3" (click)="onRemoveTask(task)">
            {{ task?.getSeverity }}
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>
<mat-grid-list cols="2" rowHeight="30" style="font-size:10px;
opacity: 0.75;">
  <mat-grid-tile>
    <mat-icon style="color: rgb(231, 195, 35)">toc</mat-icon>&nbsp;
    <p style="padding-top:12px">LIST OF TASK</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon style="color: rgb(67, 192, 67)">done_all</mat-icon>&nbsp;
    <p style="padding-top:12px">SELECTED TASKS</p>
  </mat-grid-tile>
</mat-grid-list>
<mat-dialog-content style="padding-top: 10px;">
  <form [formGroup]="form">
    <mat-grid-list cols="2" rowHeight="70px;">
      <mat-grid-tile>
        <mat-form-field style="width:100%">
          <input matInput [matDatepicker]="date" autocomplete="off" placeholder="Date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
          <mat-error
            *ngIf="form.get('date').hasError('required') && (form.controls['date'].touched || form.controls['date'].dirty)">
            Date is required
          </mat-error>
          <!-- <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/calendar.png" />&nbsp;
          </span> -->
        </mat-form-field>
      </mat-grid-tile>
      <!-- <mat-grid-tile>
        <mat-form-field style="width:100%">
          <input matInput formControlName="opex" placeholder="Opex">
          <mat-error
            *ngIf="form.get('opex').hasError('required') && (form.controls['opex'].touched || form.controls['opex'].dirty)">
            Opex is required
          </mat-error>
        </mat-form-field>
      </mat-grid-tile> -->
      <mat-grid-tile colspan="1">
        <mat-form-field style="width:100%">
          <mat-label>Resources</mat-label>
          <mat-select (selectionChange)="onSelectResource($event.value)">
            <app-mat-select-search [(data)]="resources"></app-mat-select-search>
            <mat-option *ngFor="let resource of resources" [value]="resource">
              <div class="row">
                <div class="col-md-6">
                  {{resource?.getParty ? resource?.getParty['name'] : ''}}
                </div>
                <div class="col-md-6">
                  {{resource?.roleType}}
                </div>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field style="width: 100%">
          <mat-label>Note</mat-label>
          <textarea matInput formControlName="note"></textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  <mat-list>
    <div *ngFor="let resource of selectedResources" class="row" style="cursor: pointer"
      (dblclick)="onDeleteResource(resource['id'])">
      <div class="col-md-6">
        <mat-list-item style="font-size:14px;">
          {{resource?.roleType}}&nbsp;:&nbsp;&nbsp;&nbsp;
          {{resource?.getParty ? resource?.getParty['name'] : ''}}
        </mat-list-item>
      </div>
      <div class="col-md-6" align="right">
        <button mat-icon-button matTooltip="Delete" style="cursor: pointer" (click)="onDeleteResource(resource['id'])">
          <i class="fa fa-trash-o" aria-hidden="true" style="color: rgb(195, 72, 23); font-size: 18px"></i>
        </button>
      </div>
    </div>
  </mat-list>
</mat-dialog-content>
<mat-dialog-content>
  <mat-table [dataSource]="alarms" class="mat-elevation-z0" style="width: 100%">
    <ng-container matColumnDef="severity">
      <mat-header-cell *matHeaderCellDef>Severity</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{ i + 1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actTime">
      <mat-header-cell *matHeaderCellDef>Active Time</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <!-- {{element?.sowCode}} -->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <!-- {{element?.description}} -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedAlarms"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedAlarms;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onClose()" [disabled]="form.invalid">Save</button>
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
</mat-dialog-actions>