<h2 mat-dialog-title style="text-align:center;">
  <img src="/assets/img/collection/form.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;Form Project
</h2>

<mat-grid-list cols="2" rowHeight="65px;">

  <mat-grid-tile>
    <mat-form-field>
      <mat-select [placeholder]="getAdmins().length === 0 ? 'Not Available' : 'Admin'" [formControl]="admin">
        <mat-option *ngFor="let option of getAdmins()" [value]="option.getId()">
          <img src="/assets/img/collection/admin.png" />&nbsp;&nbsp;{{ option.getParty().getName() }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="admin.hasError('required')">
        You must select one region
      </mat-error>
      <span matPrefix>
        <img src="/assets/img/collection/admin.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
      </span>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field>
      <input type="text" matInput placeholder="Project ID" [formControl]="projectCode" autocomplete="off">
      <mat-error *ngIf="projectCode.hasError('required')">
        You must input value Project ID
      </mat-error>
      <span matPrefix>
        <img src="/assets/img/collection/key.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
      </span>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field>
      <mat-select [placeholder]="sites.length === 0 ? 'Not available' : 'Site'" [formControl]="site">
        <ngx-mat-select-search [formControl]="searchSite" [placeholderLabel]="'Search'"
          [noEntriesFoundLabel]="'Not Found'">
        </ngx-mat-select-search>
        <mat-option *ngFor="let option of sites" [value]="option.getId()">
          <img src="/assets/img/collection/Site.png" style="margin-bottom: 10px;" />&nbsp;{{ option.getName() }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="site.hasError('required')">
        You must select one site
      </mat-error>
      <span matPrefix>
        <img src="/assets/img/collection/Site.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
      </span>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field>
      <mat-select [placeholder]="getPM().length === 0 ? 'Not available' : 'Project Manager'" [formControl]="pm">
        <mat-option *ngFor="let option of getPM()" [value]="option.getId()">
          <img src="/assets/img/collection/pm.png" style="margin-bottom: 10px;" />&nbsp;{{
            option.getParty().getName() }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="pm.hasError('required')">
        You must select one project manager
      </mat-error>
      <span matPrefix>
        <img src="/assets/img/collection/pm.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
      </span>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field>
      <mat-select [placeholder]="getAdminsCenter().length === 0 ? 'Not available' : 'Admin Center'"
        [formControl]="adminCenter">
        <mat-option *ngFor="let option of getAdminsCenter()" [value]="option.getId()">
          <img src="/assets/img/collection/admin_center.png" style="margin-bottom: 10px;" />&nbsp;{{
            option?.getParty()?.getName() }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="pm.hasError('required')">
        You must select one Admin Center
      </mat-error>
      <span matPrefix>
        <img src="/assets/img/collection/admin_center.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
      </span>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="Start Date" [formControl]="startDate"
        autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #startPicker></mat-datepicker>
      <mat-error *ngIf="startDate.hasError('required')">
        You must input start date
      </mat-error>
      <span matPrefix>
        <img src="/assets/img/collection/calendar.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
      </span>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="End Date" [formControl]="endDate" [min]="startDate.value"
        autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #endPicker></mat-datepicker>
      <mat-error *ngIf="endDate.hasError('required')">
        You must input end date
      </mat-error>
      <span matPrefix>
        <img src="/assets/img/collection/calendar.png" style="margin-bottom: 10px;" />&nbsp;&nbsp;
      </span>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button (click)="onAddReference()"color="primary">
      <mat-icon style="margin-bottom: 5%;">add</mat-icon>&nbsp;
      Add Reference
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-dialog-content style="max-height: 230px">
  <table mat-table [dataSource]="referenceDatasource" style="width:100%;">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i = index;">
        {{ i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Reference Type</th>
      <td mat-cell *matCellDef="let element;let i = index">
        <mat-form-field>
          <mat-select (selectionChange)="onSelectReference(i, $event.value)"
          [formControl]="referenceControl[i]?.type">
            <mat-option *ngFor="let option of referenceOption" [value]="option?.value">
              {{option?.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>description</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <mat-form-field>
          <input type="text" matInput autocomplete="off" [formControl]="referenceControl[i]?.desc"
          [value]="element?.getDescription() ? element?.getDescription() : null"
          (input)="onInputRefDesc(i, $event.target.value)">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-icon-button color="warn" style="font-size:12px" (click)="onDeleteReference(i)">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/back.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="data.value" [disabled]="invalid()">
    <img src="/assets/img/collection/{{ invalid() ? 'CANCEL' : 'save' }}.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
