<!-- <h1 mat-dialog-title align="center"> -->
<!-- </h1> -->
<mat-grid-list cols="3" rowHeight="60px">
  <mat-grid-tile>
    <mat-form-field>
      <input readonly="true" matInput [matDatepicker]="picker" placeholder="Select Date" [formControl]="dateControl">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    Daily Report
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>

<mat-dialog-content style="max-height:300px; min-height: 300px;">
  <span>Tasks</span>
  <mat-table [dataSource]="availableTasks" class="example-container mat-elevation-z0" style="width: 100%">
    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{ i + 1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ssow">
      <mat-header-cell *matHeaderCellDef>SSOW</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <!-- {{element?.getDescription}} -->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activity">
      <mat-header-cell *matHeaderCellDef>Activity</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{element?.getActivity?.getName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{element?.getDescription}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsTaskAvailable"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsTaskAvailable;" (click)="onSelectTask(row)" style="cursor: pointer">
    </mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-content style="min-height:300px; max-height:300px; margin-top: 8px;">
  <span>Report</span>
  <mat-table #table [dataSource]="selectedTasks" class="example-container mat-elevation-z0" class="table">

    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let element;let i = index;">
        {{ i + 1 }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ssow">
      <mat-header-cell *matHeaderCellDef>SSOW</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <!-- {{element?.getDescription}} -->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activity">
      <mat-header-cell *matHeaderCellDef>Activity</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element?.getActivity?.getName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{element?.getDescription}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="manhours">
      <mat-header-cell *matHeaderCellDef> Manhours </mat-header-cell>
      <mat-cell *matCellDef="let element;let i = index;">
        <mat-form-field style="width: 30%">
          <input type="number" matInput [(ngModel)]="element['manhour']">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element;let i = index;">
        <mat-checkbox [checked]="element?.getStatus === 'DONE'" [disabled]="element?.getSeverity !== 'NORMAL'"
          (change)="onChecked($event?.checked, i)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="severity">
      <mat-header-cell *matHeaderCellDef>Severity</mat-header-cell>
      <mat-cell *matCellDef="let element;let i = index;">
        <button mat-icon-button (click)="onSetSeverityTask(element)" style="cursor: pointer"
          [disabled]="element?.getPlanStatus === 'DONE'">
          <app-severity-cell [severity]="element?.getSeverity"></app-severity-cell>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="resources">
      <mat-header-cell *matHeaderCellDef>Resource</mat-header-cell>
      <mat-cell *matCellDef="let element;let i = index;">
        <mat-form-field>
          <mat-select [(ngModel)]="element['resources']" multiple>
            <mat-option *ngFor="let resource of resources" [value]="resource?.id">
              {{resource?.party?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element;let i = index;">
        <button mat-icon-button matTooltip="Delete" style="cursor: pointer" (click)="onDeleteTaskSelected(element)">
          <i class="fa fa-times-circle" aria-hidden="true" style="color: rgb(228, 14, 14); font-size: 20px"></i>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsTaskSelected"></mat-header-row>
    <mat-row *matRowDef="let element; columns: columnsTaskSelected;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-form-field style="width: 100%">
  <mat-label>Note</mat-label>
  <textarea [formControl]="noteControl" matInput formControlName="note"></textarea>
</mat-form-field>
<mat-dialog-content style="max-height:300px;">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <div style="text-align: right">
        <button matTooltip="Create" style="cursor: pointer; margin-right: 5px;" class="btn btn-info btn-xs btn"
          (click)="onAddAlarm()">
          <i class="fa fa-plus"></i>
        </button>
        <button matTooltip="Update" style="cursor: pointer; margin-right: 5px;" class="btn btn-success btn-xs btn"
          (click)="onUpdateAlarm()" [disabled]="!selectField">
          <i class="fa fa-edit"></i>
        </button>
        <button matTooltip="Delete" style="cursor: pointer" class="btn btn-danger btn-xs btn"
          (click)="onDeleteAlarm()" [disabled]="!selectField">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </div>
  </div>
  <mat-table [dataSource]="alarms" class="mat-elevation-z0" style="width: 100%">
    <ng-container matColumnDef="severity">
      <mat-header-cell *matHeaderCellDef>Severity</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{ i + 1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actTime">
      <mat-header-cell *matHeaderCellDef>Active Time</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <!-- {{element?.sowCode}} -->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <!-- {{element?.description}} -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsAlarm"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsAlarm;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onClose()" color="primary">Save</button>
  <button mat-dialog-close mat-raised-button color="warn">Cancel</button>
</mat-dialog-actions>