<h2 mat-dialog-title style="text-align:center;">
  <img src="/assets/img/collection/task-execution.png" style="margin-bottom:10px;" />&nbsp;Daily report on&nbsp;
  <img src="/assets/img/collection/calendar.png" style="margin-bottom:10px;" />&nbsp;{{data.value.getDate() |
  date:format }}
</h2>
<mat-dialog-content>
  <table mat-table [dataSource]="getTaskExecutions()" style="width:100%;">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i = index;">
        {{ i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef> Activity </th>
      <td mat-cell *matCellDef="let element">
        {{ element.getTask().getActivity().getName() }}
      </td>
    </ng-container>

    <ng-container matColumnDef="manHour">
      <th mat-header-cell *matHeaderCellDef> Man Hour </th>
      <td mat-cell *matCellDef="let element">
        {{ element.getManHour() }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        <app-status-cell [status]="element.getFinish() ? 'DONE' : 'ON_PROGRESS'"></app-status-cell>
      </td>
    </ng-container>

    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef> Resource </th>
      <td mat-cell *matCellDef="let element">
        <span matPrefix>
          <img src="/assets/img/collection/team.png" style="margin-bottom:10px;" />
        </span>&nbsp;&nbsp;
        <span *ngFor="let task of taskExecution">
          <span *ngIf="task.taskId === element.getTask().getId()">
              <span *ngFor="let resource of task.resources; let i = index">
                {{resource}}<span *ngIf="i !== ( task.resources.length - 1 )">,</span> &nbsp;
              </span>
          </span>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/CANCEL.png" />&nbsp;&nbsp;Cancel
  </button>
</mat-dialog-actions>
