<h2 mat-dialog-title style="text-align:center;">
  <img src="/assets/img/collection/project.png" style="margin-bottom:10px;" />&nbsp;List task on weekly planning&nbsp;
  <img src="/assets/img/collection/calendar.png" style="margin-bottom:10px;" />&nbsp;{{data.value.getStartDate() |
  date: 'mediumDate' }}&nbsp;-
  <img src="/assets/img/collection/calendar.png" style="margin-bottom:10px;" />&nbsp;{{data.value.getEndDate() |
  date:'mediumDate' }}
</h2>
<mat-dialog-content>
  <table mat-table [dataSource]="getTasks()" style="width:100%;">

    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i = index;">
        {{ i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element">
        {{element?.getDescription()}}
      </td>
    </ng-container>

    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef> Activity </th>
      <td mat-cell *matCellDef="let element">
        {{ element.getActivity().getName() }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        <app-status-cell [status]="element.getStatus()"></app-status-cell>
      </td>
    </ng-container>

    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef> Severity </th>
      <td mat-cell *matCellDef="let element">
        <app-severity-cell [severity]="element.getSeverity()"></app-severity-cell>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/back.png" />&nbsp;&nbsp;Cancel
  </button>
</mat-dialog-actions>
