<div style="position: fixed; width: 94.6%; z-index: 1">
  <mat-card style="margin-top: -38px;">
    <mat-card-content>
      <mat-grid-list cols="5" rowHeight="20px" style="font-weight: bold">
        <mat-grid-tile>
          <span style="font-size: 12px;">
            PO Number
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span style="font-size: 12px;">
            PO Value
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span style="font-size: 12px;">
            Total Invoice
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span style="font-size: 12px;">
            Customer
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span style="font-size: 12px;">
            Projects
          </span>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider [inset]="true"></mat-divider>
      <mat-grid-list cols="5" rowHeight="23px" style="margin-top: 8px">
        <mat-grid-tile>
          <span style="font-size: 13px;">
            {{purchaseOrder?.getPoNumber}}
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span style="font-size: 13px;">
            {{purchaseOrder?.getPoValue | currency: 'Rp. ' }}
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span style="font-size: 13px;">
            {{totalInvoice | currency: 'Rp. ' }}
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span style="font-size: 13px;">
            {{purchaseOrder?.getCustomer?.getParty['name']}}
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span style="font-size: 12px; cursor: pointer;" matTooltip="Project List" (click)="onShowListProject(purchaseOrder?.getSiteWorks)">
            <img src="assets/img/collection/detail-project.png">
          </span>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
<div class="card-table" style="margin-top: 70px;">
  <!-- <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div> -->
  <div class="card-content">
    <!-- <h5 class="card-title">{{title}}</h5> -->
    <!-- <div class="toolbar"></div> -->
    <mat-grid-list cols="12" rowHeight="65px">
      <mat-grid-tile colspan="2">
        <app-type-filter style="width:100%;" [typeFilters]="typeFilters" [formControl]="filterControlTypes">
        </app-type-filter>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <app-search style="width:100%; padding-left: 10%;" [data]="datasource.data"
          [typeFilter]="filterControlTypes.value" [formControl]="searchControl"></app-search>
      </mat-grid-tile>

      <mat-grid-tile colspan="2"></mat-grid-tile>

      <ng-container *ngFor="let type of actionTypes">
        <div *ngIf="type === 'ADD' then ADD"></div>
        <div *ngIf="type === 'UPDATE' && selectField then UPDATE"></div>
        <div *ngIf="type === 'SUBMIT' && selectField then SUBMIT"></div>
        <div *ngIf="type === 'ACKNOWLEDGE' && selectField then ACKNOWLEDGE"></div>

        <ng-template #ADD>
          <mat-grid-tile>
            <button matTooltip="Add new data" style="cursor: pointer" class="btn btn-info btn-xs btn"
              (click)="onEventClick({type: 'ADD', value: {}})">
              <i class="fa fa-plus"></i>
            </button>
          </mat-grid-tile>
        </ng-template>
        <ng-template #UPDATE>
          <mat-grid-tile>
            <button matTooltip="Update" style="cursor: pointer" class="btn btn-success btn-xs btn"
              (click)="onEventClick({type: 'UPDATE', value: {}})">
              <i class="fa fa-edit"></i>
            </button>
          </mat-grid-tile>
        </ng-template>
        <ng-template #SUBMIT>
          <mat-grid-tile>
            <button matTooltip="Submit" style="cursor: pointer" class="btn btn-warning btn-xs btn"
              (click)="onEventClick({type: 'SUBMIT', value: {}})">
              <i class="fa fa-send-o"></i>
            </button>
          </mat-grid-tile>
        </ng-template>
        <ng-template #ACKNOWLEDGE>
          <mat-grid-tile>
            <button matTooltip="Set Payment Date" style="cursor: pointer" class="btn btn-danger btn-xs btn"
              (click)="onEventClick({type: 'ACKNOWLEDGE', value: {}})">
              <i class="fa fa-calendar"></i>
            </button>
          </mat-grid-tile>
        </ng-template>
      </ng-container>
    </mat-grid-list>
    <div class="table">
      <div class="example-container mat-elevation-z0">
        <mat-table #table [dataSource]="datasource" matSort>
          <ng-container *ngFor="let column of columnConfigs">
            <div *ngIf="column?.columnType === 'string' then STRING"></div>
            <div *ngIf="column?.columnType === 'date' then DATE"></div>
            <div *ngIf="column?.columnType === 'object' then OBJECT"></div>
            <div *ngIf="column?.columnType === 'hover' then HOVER"></div>
            <div *ngIf="column?.columnType === 'currency' then CURRENCY"></div>
            <div *ngIf="column?.columnType === 'progressBar' then PROGRESS"></div>
            <div *ngIf="column?.columnType === 'status' then STATUS"></div>
            <div *ngIf="column?.columnType === 'action' then ACTION"></div>

            <!-- STRING COLUMN -->
            <ng-template #STRING>
              <ng-container [matColumnDef]="column.key">
                <div *ngIf="column.key !== 'no' else NO">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <span class="mobile-label">{{column.label}} :</span>
                    {{element[column.key]}}
                  </mat-cell>
                </div>
                <ng-template #NO>
                  <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index">
                    <span class="mobile-label">{{column.label}} :</span>
                    {{(pageIndex*pageSize)+i+1}}
                  </mat-cell>
                </ng-template>
              </ng-container>
            </ng-template>

            <!-- STRING DATE -->
            <ng-template #DATE>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  {{element[column.key] | date: column?.format}}
                </mat-cell>
              </ng-container>
            </ng-template>

            <ng-template #PROGRESS>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  {{element[column.key] | date: column?.format}}
                </mat-cell>
              </ng-container>
            </ng-template>

            <ng-template #OBJECT>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  {{element[column.key] ? element[column.key][column.objectKey] : ''}}
                </mat-cell>
              </ng-container>
            </ng-template>

            <ng-template #CURRENCY>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  {{element[column.key] | currency: column?.local}}
                </mat-cell>
              </ng-container>
            </ng-template>

            <ng-template #STATUS>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  <img style="cursor: pointer" matTooltip="Submitted" *ngIf="element[column?.key] === true"
                    src="/assets/img/collection/DONE.png">
                  <img style="cursor: pointer" matTooltip="Not Submitted" *ngIf="element[column?.key] === false"
                    src="/assets/img/collection/CANCEL.png">
                </mat-cell>
              </ng-container>
            </ng-template>

            <ng-template #HOVER>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  <img style="cursor: pointer" (mouseenter)="onEventClick({type: 'HOVER', value: element})"
                    src="/assets/img/collection/{{column.icon}}.png">
                </mat-cell>
              </ng-container>
            </ng-template>

          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let element; columns: displayedColumns; let i = index"
            [ngClass]="{'highlight-cell': rowIndex === i }" [tabindex]="i" style="cursor:pointer"
            (click)="onSelectRow(element); rowIndex = i" (dblclick)="onUnselectRow()"></mat-row>
        </mat-table>
      </div>
      <mat-paginator showFirstLastButtons (page)="pageSize = $event.pageSize; pageIndex=$event.pageIndex"
        [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
      </mat-paginator>
    </div>
  </div>
</div>