<h2 mat-dialog-title style="text-align:center;">
  <img src="/assets/img/collection/project1.png" style="margin-bottom:10px;" />&nbsp;Detail Planning
</h2>
<mat-dialog-content>
  <mat-progress-bar mode="indeterminate" *ngIf="loading()"></mat-progress-bar>
  <table mat-table [dataSource]="tableData" class="mat-elevation-z0" style="width:100%;">

    <ng-container matColumnDef="ed">
      <th mat-header-cell *matHeaderCellDef> Planning ED / Actual ED </th>
      <td mat-cell *matCellDef="let element">{{element['plannEd'] }} / {{element['actualEd']}}</td>
    </ng-container>

    <ng-container matColumnDef="td">
      <th mat-header-cell *matHeaderCellDef>Planning TD / Actual TD</th>
      <td mat-cell *matCellDef="let element">{{element['plannTd']}} / {{element['actualTd']}}</td>
    </ng-container>

    <ng-container matColumnDef="dd">
      <th mat-header-cell *matHeaderCellDef>Planning DD / Actual DD</th>
      <td mat-cell *matCellDef="let element">{{element['plannDd']}} / {{element['actualDd']}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>
