<h2 mat-dialog-title style="text-align: center">
    <p>Severity Description</p>
  </h2>
  <mat-dialog-content>
    <mat-grid-list cols="8" rowHeight="60px;">
      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Severity" disabled="true" [value]="data?.getSeverity">
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/alert.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="5">
        <mat-form-field>
          <input matInput placeholder="Description" disabled="true" [value]="data?.getNote">
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/detail-project.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>
      Close
    </button>
  </mat-dialog-actions>
