<div class="card-table" style="margin-top: -20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{title}}</h5>
    <!-- <div class="toolbar"></div> -->
    <mat-grid-list cols="12" rowHeight="65px">
      <mat-grid-tile colspan="2">
        <app-type-filter style="width:100%;" [typeFilters]="typeFilters" [formControl]="filterControlTypes">
        </app-type-filter>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <app-search style="width:100%; padding-left: 10%;" [data]="datasource.data"
          [typeFilter]="filterControlTypes.value" [formControl]="searchControl"></app-search>
      </mat-grid-tile>

      <mat-grid-tile colspan="2"></mat-grid-tile>
      <div *ngIf="selectField then ACTION"></div>
      <ng-template #ACTION>
        <ng-container *ngFor="let type of actionTypes">
          <div *ngIf="type === 'REQUEST' then REQUEST"></div>
          <div *ngIf="type === 'SUBMIT' then SUBMIT"></div>
          <div *ngIf="type === 'VIEW' then VIEW"></div>

          <ng-template #REQUEST>
            <mat-grid-tile>
              <button matTooltip="Request Project ID" style="cursor: pointer" class="btn btn-warning btn-xs btn"
                (click)="onEventClick('REQUEST')">
                <i class="fa fa-paper-plane-o"></i>
              </button>
            </mat-grid-tile>
          </ng-template>
          <ng-template #SUBMIT>
            <mat-grid-tile>
              <button matTooltip="Start Project" style="cursor: pointer" class="btn btn-success btn-xs btn"
                (click)="onEventClick('SUBMIT')">
                <i class="fa fa-play"></i>
              </button>
            </mat-grid-tile>
          </ng-template>
          <ng-template #VIEW>
            <mat-grid-tile>
              <button matTooltip="View Planning" style="cursor: pointer" class="btn btn-warning btn-xs btn"
                (click)="onEventClick({type: 'VIEW', value: {}})">
                <i class="fa fa-info-circle"></i>
              </button>
            </mat-grid-tile>
          </ng-template>
        </ng-container>
      </ng-template>
    </mat-grid-list>

    <div class="row">
      <div class="col-md-12">
        <mat-accordion [hideToggle]="true">
          <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
            <mat-expansion-panel-header class="mat-row">
              <mat-panel-description>
                <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
                Filter Project By ...
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-grid-list cols="16">
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select multiple [(ngModel)]="ngModelStatus" placeholder="Filter By Status">
                    <mat-option *ngFor="let option of statusOptions; let i = index" [value]="i"
                      (click)="onFilter({type: 'status', value: ngModelStatus})">
                      {{option}}
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select multiple [(ngModel)]="ngModelSeverity" placeholder="Filter By Severity">
                    <mat-option *ngFor="let option of severityOptions; let i = index" [value]="i"
                      (click)="onFilter({type: 'severity', value: ngModelSeverity})">
                      {{option}}
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ngModelOpex" placeholder="Filter By Opex">
                    <mat-option value="0" (click)="onFilter({type: 'opex', value: 0})">
                      More Then 100%
                    </mat-option>
                    <mat-option value="1" (click)="onFilter({type: 'opex', value: 1})">
                      Less Then 100%
                    </mat-option>
                    <mat-option value="2" (click)="onFilter({type: 'opex', value: 2})">
                      Equal To 100%
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="4">
                <mat-form-field>
                  <mat-select [(ngModel)]="ngModelPo" placeholder="Filter By PO Status">
                    <mat-option *ngFor="let option of poOptions; let i = index" [value]="i"
                      (click)="onFilter({type: 'po', value: ngModelPo})">
                      {{option}}
                    </mat-option>
                  </mat-select>
                  <span matPrefix>
                    <img src="/assets/img/collection/dashboard.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
                  </span>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <!-- End Filter -->


    <div class="table">
      <div class="example-container mat-elevation-z0">
        <mat-table #table [dataSource]="datasource" matSort>
          <ng-container *ngFor="let column of columnConfigs" (click)="datasource">
            <div *ngIf="column?.columnType === 'string' then STRING"></div>
            <div *ngIf="column?.columnType === 'date' then DATE"></div>
            <div *ngIf="column?.columnType === 'object' then OBJECT"></div>
            <div *ngIf="column?.columnType === 'hover' then HOVER"></div>
            <div *ngIf="column?.columnType === 'status' then STATUS"></div>
            <div *ngIf="column?.columnType === 'severity' then SEVERITY"></div>
            <div *ngIf="column?.columnType === 'action' then ACTION"></div>

            <!-- STRING COLUMN -->
            <ng-template #STRING>
              <ng-container [matColumnDef]="column.key">
                <div *ngIf="column.key !== 'no' else NO">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <span class="mobile-label">{{column.label}} :</span>
                    {{element[column.key]}}
                  </mat-cell>
                </div>
                <ng-template #NO>
                  <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index">
                    <span class="mobile-label">{{column.label}} :</span>
                    {{(pageIndex*pageSize)+i+1}}
                  </mat-cell>
                </ng-template>
              </ng-container>
            </ng-template>

            <!-- STRING DATE -->
            <ng-template #DATE>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  {{element[column.key] | date: column?.format}}
                </mat-cell>
              </ng-container>
            </ng-template>

            <ng-template #OBJECT>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  {{element[column.key] ? element[column.key][column.objectKey] : ''}}
                </mat-cell>
              </ng-container>
            </ng-template>

            <ng-template #HOVER>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  <img style="cursor: pointer" (mouseenter)="onEventClick({type: 'HOVER', value: element[column.key]})"
                    src="/assets/img/collection/{{column.icon}}.png">
                </mat-cell>
              </ng-container>
            </ng-template>


            <ng-template #STATUS>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  <app-status-cell [status]="element[column?.key]"></app-status-cell>
                </mat-cell>
              </ng-container>
            </ng-template>

            <ng-template #SEVERITY>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  <app-severity-cell [severity]="element[column?.key]"></app-severity-cell>
                </mat-cell>
              </ng-container>
            </ng-template>


            <!-- ACTION COLUMN -->
            <ng-template #ACTION>
              <ng-container [matColumnDef]="column.key">
                <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="mobile-label">{{column.label}} :</span>
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <span *ngFor="let action of actionTypes">
                      <button *ngIf="action !== 'ADD' && action !== 'HOVER'" mat-menu-item (click)="onEventClick({
                                              type: action,
                                              value: element
                                            })">
                        {{action}}
                      </button>
                    </span>
                  </mat-menu>
                </mat-cell>
              </ng-container>
            </ng-template>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let element; columns: displayedColumns; let i = index" style="color:aliceblue;"
            [ngClass]="{'highlight-cell': rowIndex === i }" [tabindex]="i" style="cursor:pointer"
            (click)="onSelectRow(element); rowIndex = i" (dblClick)="onDblClick(element)">
          </mat-row>
        </mat-table>
      </div>
      <mat-paginator showFirstLastButtons (page)="pageSize = $event.pageSize; pageIndex=$event.pageIndex"
        [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
      </mat-paginator>
    </div>
  </div>
</div>