<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    <table class="table table-striped table-fixed">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col" *ngFor="let column of tableHead">{{column}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tableData; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td *ngFor="let column of tableHead">{{data[column]}}</td>
          </tr>
        </tbody>
      </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close style="float:right">Close</button>
</mat-dialog-actions>
