.table-fixed tbody {
  height: 200px;
  overflow-y: auto;
  width: 100%;
  }
  .table-fixed thead,
  .table-fixed tbody,
  .table-fixed tr,
  .table-fixed td,
  .table-fixed th {
  display: block;
  }
  .table-fixed tr:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  }
  .table-fixed tbody td,
  .table-fixed thead > tr > th {
  float: left;
  }

  .table > thead > tr > th,
.table > thead > tr > td {
font-size: .9em;
font-weight: 400;
border-bottom: 0;
letter-spacing: 1px;
vertical-align: top;
padding: 8px;
background: #51596a;
text-transform: uppercase;
color: #ffffff;
}
