<h1 mat-dialog-title align="center">
    SOW List
  </h1>
  <mat-dialog-content>
    <mat-table [dataSource]="formData" class="mat-elevation-z0" style="width: 100%">
      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef>No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{ i + 1}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="sowCode">
        <mat-header-cell *matHeaderCellDef>SOW Code</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{element?.sowCode}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{element?.description}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-dialog-close mat-raised-button color="warn">Close</button>
  </mat-dialog-actions>