<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">{{title}}</h4>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="getLoading()">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <div *ngIf="invoice.getError()" class="alert alert-danger">
      <button type="button" class="close" (click)="invoice.clearError()">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{invoice.getError().name}} !</strong>
      <br /> {{invoice.getError().message}}
    </div>
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null);">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" [matAutocomplete]="auto" [formControl]="search">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of getAutocomplete()" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="5"></mat-grid-tile>

      <mat-grid-tile colspan="2">
        <button mat-raised-button (click)="onCreate()" *ngIf="action">
          <img src="/assets/img/collection/add.png" />&nbsp;&nbsp;Add Invoice
        </button>
      </mat-grid-tile>

    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table [dataSource]="datasource" matSort class="content" style="min-width:1300px;" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="invoiceNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Number</th>
          <td mat-cell *matCellDef="let row">
            <img src="/assets/img/collection/key.png" /> &nbsp;&nbsp;{{ row.getInvoiceNumber() }}
          </td>
        </ng-container>

        <ng-container matColumnDef="invoiceDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</th>
          <td mat-cell *matCellDef="let row">
            <img src="/assets/img/collection/calendar.png" /> &nbsp;&nbsp;{{ getInvoiceDate(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="invoiceValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Value</th>
          <td mat-cell *matCellDef="let row">
            <img src="/assets/img/collection/price.png" /> &nbsp;&nbsp;{{ getInvoiceValue(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="referenceBast">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference BAST</th>
          <td mat-cell *matCellDef="let row">
            {{ row.getReferenceBast() }}
          </td>
        </ng-container>

        <ng-container matColumnDef="paymentDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</th>
          <td mat-cell *matCellDef="let row">
            <img src="/assets/img/collection/calendar.png" /> &nbsp;&nbsp;
            <span *ngIf="getPaymentDate(row) !== null">{{ getPaymentDate(row) }}</span>
            <span class="trigger" *ngIf="getPaymentDate(row) === null">None</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
          <td mat-cell *matCellDef="let row">
            <img src="/assets/img/collection/calendar.png" /> &nbsp;&nbsp;{{ getDueDate(row) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="submit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Submit</th>
          <td mat-cell *matCellDef="let row">
            <!-- <app-submit-cell [submit]="row.getSubmit()"></app-submit-cell> -->
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-button [matMenuTriggerFor]="menu" *ngIf="action">
              <img src="/assets/img/collection/action.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onUpdate(row)" *ngIf="!row.getSubmit()">
                <img src="/assets/img/collection/update.png" style="margin-bottom:10px;" />
                &nbsp;&nbsp;Update
              </button>
              <button mat-menu-item (click)="onSubmit(row)" *ngIf="!row.getSubmit()">
                <img src="/assets/img/collection/submit.png" style="margin-bottom:10px;" />
                &nbsp;&nbsp;Submit
              </button>
              <button mat-menu-item (click)="onSetPaymentDate(row)" *ngIf="row.getSubmit() && getPaymentDate(row) === null">
                <img src="/assets/img/collection/calendar.png" style="margin-bottom:10px;" />
                &nbsp;&nbsp;Set Payment Date
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;" style="color:aliceblue;" (click)="selectedId = row.getId()"
          [ngClass]="{'highlight-cell': selectedId == row.id}"></tr>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
