<h2 mat-dialog-title class="title-header" style="text-align:center;">
  Task Description
</h2>
<mat-dialog-content>

  <mat-grid-list cols="3" rowHeight="65px">

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Activity" [value]="type[data['activity']['name']]" disabled>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Mandays" [value]="data['manDay']" disabled>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Severity" [value]="data['severity']" autocomplete="off" disabled>
        <span matPrefix>
          <img src="/assets/img/collection/{{data['severity']}}.png" style="margin-bottom: 10px;">
          &nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="3">
      <mat-form-field>
        <input matInput placeholder="Severity Description" [value]="data['note']" autocomplete="off" disabled>
        <span matPrefix>
          <img src="/assets/img/collection/alert1.png" style="margin-bottom: 10px;">
          &nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="3">
      <mat-form-field>
        <input matInput placeholder="Activity Description" [value]="data['description']" autocomplete="off" disabled>
        <span matPrefix>
          <img src="/assets/img/collection/detail-project.png" style="margin-bottom: 10px;">
          &nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/CANCEL.png" />&nbsp;&nbsp;Close
  </button>
</mat-dialog-actions>
