<h1 mat-dialog-title style="text-align: center">Form Person</h1>
<form [formGroup]="form">
  <mat-grid-list cols="3" rowHeight="65px;">
    <mat-grid-tile>
      <mat-form-field class="mat-form-field">
        <input matInput placeholder="Name" type="text" formControlName="name" autocomplete="off">
        <span matPrefix>
          <img src="/assets/img/collection/cardId.png" style="margin-bottom: 10px;">
          &nbsp;
        </span>
        <!-- <mat-error *ngIf="form.get('name').hasError('required') && (form.controls['name'].touched || form.controls['name'].dirty)">
            Name is required
          </mat-error> -->
        <mat-error *ngIf="form.get('name').hasError('letterError') && (form.controls['name'].touched || form.controls['name'].dirty)">
          the initial letter of the name must be uppercase
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="mat-form-field">
        <input matInput placeholder="Address" type="text" formControlName="address" autocomplete="off">
        <span matPrefix>
          <img src="/assets/img/collection/address.png" style="margin-bottom: 10px;">
          &nbsp;
        </span>
        <!-- <mat-error *ngIf="form.get('address').hasError('required') && (form.controls['address'].touched || form.controls['address'].dirty)">
            Address is required
          </mat-error> -->
        <mat-error *ngIf="form.get('address').hasError('letterError') && (form.controls['address'].touched || form.controls['address'].dirty)">
          the initial letter of the address must be uppercase
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="mat-form-field">
        <input matInput placeholder="Email" type="email" formControlName="email" autocomplete="off">
        <span matPrefix>
          <img src="/assets/img/collection/email.png" style="margin-bottom: 10px;">
          &nbsp;
        </span>
        <!-- <mat-error *ngIf="form.get('email').hasError('required') && (form.controls['email'].touched || form.controls['email'].dirty)">
            Email is required
          </mat-error> -->
        <mat-error *ngIf="form.get('email').hasError('email') && (form.controls['email'].touched || form.controls['email'].dirty)">
          Invalid email
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="mat-form-field">
        <input matInput placeholder="Phone" formControlName="phone" autocomplete="off" type="text">
        <span matPrefix>
          <img src="/assets/img/collection/phone.png" style="margin-bottom: 10px;">
          &nbsp;
        </span>
        <!-- <mat-error *ngIf="form.get('phone').hasError('required') && (form.controls['phone'].touched || form.controls['phone'].dirty)">
            Phone is required
          </mat-error> -->
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="mat-form-field">
        <mat-select placeholder="Gender" formControlName="gender" autocomplete="off">
          <mat-option value="MALE">MALE</mat-option>
          <mat-option value="FEMALE">FEMALE</mat-option>
        </mat-select>
        <span matPrefix>
          <img src="/assets/img/collection/gender.png" style="margin-bottom: 10px;">
          &nbsp;
        </span>
        <!-- <mat-error *ngIf="form.get('gender').hasError('required') && (form.controls['gender'].touched || form.controls['gender'].dirty)">
            Gender is required
          </mat-error> -->
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="mat-form-field">
        <input matInput [matDatepicker]="birthDate" placeholder="Birth Date" formControlName="birthDate" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
        <mat-datepicker #birthDate startView="year" [startAt]="startDate" disabled="false"></mat-datepicker>
        <span matPrefix>
          <img src="/assets/img/collection/calendar.png" style="margin-bottom: 10px;">
          &nbsp;
        </span>
        <!-- <mat-error *ngIf="form.get('birthDate').hasError('required') && (form.controls['birthDate'].touched || form.controls['birthDate'].dirty)">
            Birth Date is required
          </mat-error> -->
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
<mat-grid-list cols="3" rowHeight="65px">
  <mat-grid-tile>
    <mat-form-field class="mat-form-field">
      <input matInput placeholder="NIP" type="number" autocomplete="off" min="0" [formControl]="nipControl">
      <mat-error *ngIf="nipControl.hasError('required')">
        NIP is required
      </mat-error>
      <span matPrefix>
        <img src="/assets/img/collection/nip2.png" style="margin-bottom: 10px;">
        &nbsp;
      </span>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-flat-button [matMenuTriggerFor]="menu">
      <img src="/assets/img/collection/role.png" style="margin-bottom: 8px;">&nbsp;&nbsp;
      <span style="color: rgb(255, 255, 255)">Add Roles</span>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" panelClass="custom">
      <ng-container *ngFor="let role of roles">
        <button mat-menu-item *ngIf="role.role !== 'USER'" (click)="onSelectRole(role.role)">
          <div class="row" style="font-size: 12px;">
            <div class="col-md-12">
              <img src="/assets/img/collection/{{role.img}}" style="margin-bottom: 10px;">
              &nbsp; {{role.title}}
            </div>
          </div>
        </button>
      </ng-container>
    </mat-menu>
  </mat-grid-tile>
</mat-grid-list>
<mat-dialog-content style="max-height: 230px">
  <!-- roles table -->
  <mat-table [dataSource]="rolesConfig" class="mat-elevation-z0" style="width: 100%">
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let row">
        <span *ngFor="let role of roles">
          <p *ngIf="row.role === role.role">
            <img src="/assets/img/collection/{{role.img}}" style="margin-bottom: 10px;">
            {{role.title}}
          </p>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>Region</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="never">
          <mat-select placeholder="Region" [ngModel]="row.regionIds" autocomplete="off" *ngIf="
          row.role !== 'FINANCE' &&
          row.role !== 'SALES' &&
          row.role !== 'CUSTOMER' &&
          row.role !== 'SUBCONT_ENGINEER' &&
          row.role !== 'SUBCONT_TECHNICIAN' &&
          row.role !== 'SUBCONT_DOCUMENTATION' &&
          row.role !== 'USER' &&
          row.role !== 'ADMIN_CENTER' &&
          row.role !== 'GENERAL_MANAGER'; else disabledRegion"
            multiple (ngModelChange)="onSelectRegion($event, row.role)">
            <mat-option *ngFor="let region of regionData" [value]="region.getId">
              {{region.getName}}
            </mat-option>
          </mat-select>
          <ng-template #disabledRegion>
            <mat-select placeholder="Not Available">
            </mat-select>
          </ng-template>
          <span matPrefix>
            <img src="/assets/img/collection/area.png" style="margin-bottom: 8px;">
            &nbsp;
          </span>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row;let i = index;">
        <button *ngIf="row.role !== 'USER'" mat-icon-button matTooltip="Delete Role" (click)="onDeleteRole(row.role)">
          <img src="/assets/img/collection/CANCEL.png" style="margin-bottom:10px;" />
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions style="float: right;">
  <button mat-raised-button color="primary" [disabled]="form.invalid || nipControl.invalid || setValidationRegion()"
    [mat-dialog-close]="data">Yes</button>
  <button mat-raised-button mat-dialog-close color="warn">No</button>
</mat-dialog-actions>
