<h1 mat-dialog-title>Form Region</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-grid-list cols="2" rowHeight="60px;">
      <mat-grid-tile>
        <mat-form-field class="mat-form-field">
          <input matInput formControlName="name" placeholder="Name" type="text" autocomplete="off">
          <mat-error *ngIf="form.get('name').hasError('required') && (form.controls['name'].touched || form.controls['name'].dirty)">
            Name is required
          </mat-error>
          <mat-error *ngIf="form.get('name').hasError('letterError') && (form.controls['name'].touched || form.controls['name'].dirty)">
            the initial letter of the name must be uppercase
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="mat-form-field">
          <input matInput formControlName="latitude" placeholder="Latitude" type="number" autocomplete="off">
          <mat-error *ngIf="form.get('latitude').hasError('required') && (form.controls['latitude'].touched || form.controls['latitude'].dirty)">
            Latitude is required
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="mat-form-field">
          <input matInput formControlName="longitude" placeholder="Longitude" type="number" autocomplete="off">
          <mat-error *ngIf="form.get('longitude').hasError('required') && (form.controls['longitude'].touched || form.controls['longitude'].dirty)">
            Longitude is required
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="float: right;">
  <button mat-raised-button color="primary" [mat-dialog-close]="region" [disabled]="form.invalid">Yes</button>
  <button mat-raised-button [mat-dialog-close]="'cancel'" color="warn">No</button>
</mat-dialog-actions>
