<h1 mat-dialog-title align="center">
  Payment Date
</h1>
<mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="paymentDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="paymentDate" color="primary" [disabled]="!paymentDate">Save</button>
  <button mat-dialog-close mat-raised-button color="warn">Cancel</button>
</mat-dialog-actions>