<h1 mat-dialog-title align="center">
  SOWS
</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [form]="form">
    </formly-form>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onClose()" color="primary" [disabled]="form.invalid">Save</button>
  <button mat-dialog-close mat-raised-button color="warn">Cancel</button>
</mat-dialog-actions>
