<h1 mat-dialog-title>Form Organization</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-grid-list cols="2" rowHeight="60px;">
      <mat-grid-tile>
        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Name" type="text" formControlName="name" autocomplete="off">
          <span matPrefix>
            <img src="/assets/img/collection/cardId.png" style="margin-bottom: 10px;">
            &nbsp;
          </span>
          <mat-error *ngIf="form.get('name').hasError('required') && (form.controls['name'].touched || form.controls['name'].dirty)">
            Name is required
          </mat-error>
          <mat-error *ngIf="form.get('name').hasError('letterError') && (form.controls['name'].touched || form.controls['name'].dirty)">
            the initial letter of the name must be uppercase
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Address" type="text" formControlName="address" autocomplete="off">
          <span matPrefix>
            <img src="/assets/img/collection/address.png" style="margin-bottom: 10px;">
            &nbsp;
          </span>
          <mat-error *ngIf="form.get('address').hasError('required') && (form.controls['address'].touched || form.controls['address'].dirty)">
            Address is required
          </mat-error>
          <mat-error *ngIf="form.get('address').hasError('letterError') && (form.controls['address'].touched || form.controls['address'].dirty)">
            the initial letter of the address must be uppercase
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Email" type="email" formControlName="email" autocomplete="off">
          <span matPrefix>
            <img src="/assets/img/collection/email.png" style="margin-bottom: 10px;">
            &nbsp;
          </span>
          <mat-error *ngIf="form.get('email').hasError('required') && (form.controls['email'].touched || form.controls['email'].dirty)">
            Email is required
          </mat-error>
          <mat-error *ngIf="form.get('email').hasError('email') && (form.controls['email'].touched || form.controls['email'].dirty)">
            Invalid email
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Phone" type="text" formControlName="phone" autocomplete="off" type="number">
          <span matPrefix>
            <img src="/assets/img/collection/phone.png" style="margin-bottom: 10px;">
            &nbsp;
          </span>
          <mat-error *ngIf="form.get('phone').hasError('required') && (form.controls['phone'].touched || form.controls['phone'].dirty)">
            Phone is required
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="mat-form-field">
          <mat-select placeholder="Roles" [compareWith]="compareSelectedItem" [formControl]="rolesControl" autocomplete="off"
            multiple>
            <mat-option *ngFor="let role of roles" [value]="role['role']">
              <img src="/assets/img/collection/{{role.img}}" style="margin-bottom: 10px;">
              &nbsp; {{role.title}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img src="/assets/img/collection/role.png" style="margin-bottom: 10px;">
            &nbsp;
          </span>
          <mat-error *ngIf="rolesControl.hasError('required') && (rolesControl.touched || rolesControl.dirty)">
            Roles is required
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="float: right;">
  <button mat-raised-button color="primary" [mat-dialog-close]="organization" [disabled]="form.invalid">Yes</button>
  <button mat-raised-button mat-dialog-close color="warn">No</button>
</mat-dialog-actions>
