<h6 mat-dialog-title class="title-header"> Dialog </h6>
<mat-dialog-content>
  <h5>{{ data.message }}</h5>
</mat-dialog-content>
<mat-dialog-actions class="pull-right">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/CANCEL.png"/>&nbsp;&nbsp;No
  </button>
  <button mat-raised-button [mat-dialog-close]="data.id">
    <img src="/assets/img/collection/DONE.png"/>&nbsp;&nbsp;Yes
  </button>
</mat-dialog-actions>
