<h2 mat-dialog-title style="text-align:center;">
    <p>Status Document</p>
  </h2>
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-grid-list cols="4" rowHeight="65px">
        <mat-grid-tile colspan="1">
          <mat-form-field>
            <mat-select placeholder="Status" formControlName="status">
              <mat-option *ngFor="let value of status" [value]="value">
                {{statusLabel[value]}}
              </mat-option>
            </mat-select>
            <span matPrefix>
              <!-- <img style="margin-bottom: 10px;" src="/assets/img/collection/organization.png" />&nbsp;&nbsp; -->
            </span>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <mat-form-field>
            <input matInput placeholder="Description" autocomplete="off" formControlName="description">
            <span matPrefix>
              <img style="margin-bottom: 10px;" src="/assets/img/collection/detail-project.png" />&nbsp;&nbsp;
            </span>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>
      <img src="/assets/img/collection/CANCEL.png" />&nbsp;&nbsp;Cancel
    </button>
    <button mat-raised-button [mat-dialog-close]="formData" [disabled]="form.invalid">
      <img src="/assets/img/collection/save.png" />&nbsp;&nbsp;Save
    </button>
  </mat-dialog-actions>
