<h2 mat-dialog-title style="text-align: center">
    <p>Document Description</p>
  </h2>
  <mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="70px;">
      <mat-grid-tile colspan="1">
        <mat-form-field>
          <input matInput placeholder="Number" disabled="true" >
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/alert.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field>
          <input matInput placeholder="Status" disabled="true" [value]="data?.getStatusDoc">
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/detail-project.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field>
          <input matInput placeholder="Description" disabled="true" [value]="data?.getDescription">
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/detail-project.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>
      Close
    </button>
  </mat-dialog-actions>
