<h1 mat-dialog-title align="center">
  Add Project Id
</h1>
<mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input matInput [formControl]="control" placeholder="Project id">
    <span matPrefix>
      <img src="/assets/img/collection/key.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
    </span>
    <mat-error *ngIf="control.getError('required')">
      Project id is required
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="control.value" color="primary" [disabled]="control.invalid">Save</button>
  <button mat-dialog-close mat-raised-button color="warn">Cancel</button>
</mat-dialog-actions>