<mat-card style="margin-top: -27px;">
  <mat-card-content>
    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Number" readonly [value]="data?.getNumber">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Customer" readonly
            [value]="data?.getCustomer ? data?.getCustomer.getParty ? data?.getCustomer.getParty['name'] : '' : ''">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="General Manager" readonly
            [value]="data?.getGeneralManager ? data?.getGeneralManager.getParty ? data?.getGeneralManager.getParty['name'] : '' : ''">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Value" readonly [value]="null">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <mat-form-field>
          <input matInput placeholder="Start Date" readonly [value]="data?.getStartDate | date: 'mediumDate'">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <input matInput placeholder="End Date" readonly [value]="data?.getEndDate | date: 'mediumDate'">
        </mat-form-field>
      </div>
      <div class="col-md-8">
        <mat-form-field>
          <input matInput placeholder="Description" readonly
            [value]="data?.getDescription ? data?.getDescription : null">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <span style="font-size: 10px; font-weight: 600">Contract Done</span>&nbsp;&nbsp;
        <span
          style="font-size: 14px; color: rgb(195, 47, 47); padding-left: 28%; font-weight: 500">{{persentaseProjectDone}}%</span>
        <mat-progress-bar mode="determinate" [value]="persentaseProjectDone" color="warn"></mat-progress-bar>
      </div>
      <div class="col-md-6">
        <span style="font-size: 10px; font-weight: 600">Total Payment</span>
        <span style="font-size: 14px; color: rgb(195, 47, 47); padding-left: 28%; font-weight: 500">90%</span>
        <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
      </div>
    </div>

    <div class="row mat-elevation-z0" style="margin-top: 8px;">
      <mat-table style="width:100%; max-height: 300px;" [dataSource]="siteworks">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{element.getAssignmentCode}}</td>
        </ng-container>
        <ng-container matColumnDef="site">
          <th mat-header-cell *matHeaderCellDef>Site</th>
          <td mat-cell *matCellDef="let element">{{element?.getSite?.getName}}</td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let element">{{element?.getStartDate | date: 'shortDate'}}</td>
        </ng-container>
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef> End Date </th>
          <td mat-cell *matCellDef="let element">{{element?.getEndDate | date: 'shortDate'}}</td>
        </ng-container>
        <ng-container matColumnDef="lastReport">
          <th mat-header-cell *matHeaderCellDef> Last Report </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef> Progress </th>
          <td mat-cell *matCellDef="let element">
            <app-progress-cell [progress]="30"></app-progress-cell>
          </td>
        </ng-container>
        <ng-container matColumnDef="sow">
          <th mat-header-cell *matHeaderCellDef> SSOW </th>
          <td mat-cell *matCellDef="let element">
            <span *ngFor="let sow of element?.getSowTypes">
              {{sow?.getSowCode}},&nbsp;
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element">{{element?.value | currency: 'Rp. '}}</td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="siteworkColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: siteworkColumns; let i = index"
          [ngClass]="{'highlight-cell': rowIndex === i }" [tabindex]="i" style="cursor:pointer"
          (click)="onSelectRow(row); rowIndex = i" (dblclick)="selectedProject = row; onUpdateProject()"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card style="margin-top: 10px;">
  <mat-card-content>
    <div class="mat-elevation-z0">
      <mat-table style="width:100%; max-height: 300px" [dataSource]="data?.getSiteworks ? data?.getSiteworks : []">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="poNumber">
          <th mat-header-cell *matHeaderCellDef>PO Number</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="poValue">
          <th mat-header-cell *matHeaderCellDef>PO Value</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="invoiceNumber">
          <th mat-header-cell *matHeaderCellDef>Invoice Number</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef>Total Payment</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="poColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: poColumns; let i = index" [ngClass]="{'highlight-cell': rowIndex === i }"
          [tabindex]="i" style="cursor:pointer" (click)="onSelectRow(row); rowIndex = i"
          (dblclick)="selectedProject = row; onUpdateProject()"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>