<div class="example-loading-shade" *ngIf="loading">
  <mat-spinner [color]="'warn'"></mat-spinner>
</div>
<div class="row" style="margin-top: -5%">
  <div class="col-md-4">
    <div class="card" style="height: 55px;">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2" style="margin-top: -4.5%">
            <button color="warn" mat-mini-fab>
              <mat-icon>person</mat-icon>
            </button>
          </div>
          <div class="col-md-10" style="text-align: center; color: rgb(85, 84, 84); font-size: 14px; margin-top: -0.5%;">
              <mat-form-field style="padding-left: 5%; margin-top: -4.5%">
                <mat-select placeholder="Select Project Manager" [(ngModel)]="pmId" (valueChange)="onSelectPm($event)">
                  <mat-option [value]="0">
                    All Project Manager
                  </mat-option>
                  <mat-option *ngFor="let pm of pmData" [value]="pm?.getId">
                    {{pm?.getParty?.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card" style="height: 55px;">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2" style="margin-top: -3.5%">
            <button color="warn" mat-mini-fab>
              <mat-icon>date_range</mat-icon>
            </button>
          </div>
          <div class="col-md-9" style="text-align: center; color: rgb(85, 84, 84); font-size: 14px; margin-top: -0.5%;">
            <div style="padding-left: 2%; margin-top: -4%">
              <app-range-date (OnSelectDate)="onSelectDate($event)" [range]="rangeDate"></app-range-date>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: -3%;">
  <div class="col-md-3 col-lg-3 col-xl-3">
    <app-widget-component [data]="documentCreate"></app-widget-component>
  </div>
  <div class="col-md-3 col-lg-3 col-xl-3" >
    <app-widget-component [data]="documentSubmit"></app-widget-component>
  </div>
  <div class="col-md-3 col-lg-3 col-xl-3">
    <app-widget-component [data]="documentApprove"></app-widget-component>
  </div>
  <div class="col-md-3 col-lg-3 col-xl-3">
    <app-widget-component [data]="documentReject"></app-widget-component>
  </div>
</div>

<div class="row" style="margin-top: -3%;">
  <div class="col-md-3 col-lg-3 col-xl-3">
    <app-widget-component [data]="totalProject"></app-widget-component>
    <app-widget-component [data]="poValueDone"></app-widget-component>
    <app-widget-component [data]="poValueOnProgress"></app-widget-component>
  </div>
  <div class="col-md-9 col-lg-9 col-xl-9">
    <div class="card" style="height: 82%">
      <div class="card-body">
        <div class="row" style="text-align: left; color: rgb(194, 192, 192); font-size: 14px">
          <div class="col-md-4 col-lg-4 col-xl-4">
            Pie Chart
          </div>
        </div>
        <div class="row" style="margin-top: -3%">
          <app-pie-chart [view]="pieChartOptions.view" [data]="pieChartOptions.data" [labels]="pieChartOptions.labels"
            [legend]="pieChartOptions.legend" [legendPosition]="pieChartOptions.legendPosition" [legendTitle]="pieChartOptions.legendTitle"
            [animation]="pieChartOptions.animation">
          </app-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">Use space</span>
        <h4>49/50GB</h4>
        <div>
        <span class="f-left m-t-10 text-muted">
          <i class="text-c-blue f-16 icofont icofont-warning m-r-10"></i>Get more space
        </span>
        </div>
      </div>
    </div>
  </div> -->
