<h2 mat-dialog-title style="text-align:center">
    <img src="/assets/img/collection/form.png" />&nbsp;
    {{title}}
  </h2>
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-grid-list cols="1" rowHeight="65px">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Username" autocomplete="off" formControlName="username">
            <span matPrefix>
              <img src="/assets/img/collection/cardId.png" style="margin-bottom: 10px;">
              &nbsp;
            </span>
            <mat-error *ngIf="form.get('username').hasError('required') && (form['controls']['username'].touched || form['controls']['username'].dirty)">
              Username is required
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile formGroupName="passwordGroup">
          <mat-form-field>
            <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" autocomplete="off"
              formControlName="password">
            <mat-icon *ngIf="disabledPassword" matSuffix (click)="hidePassword = !hidePassword" >{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            <span matPrefix>
              <img src="/assets/img/collection/keyPassword.png" style="margin-bottom: 10px;">
              &nbsp;
            </span>
            <mat-error *ngIf="form.get('passwordGroup').get('password').hasError('required') && (form.get('passwordGroup')['controls']['password'].touched || form.get('passwordGroup')['controls']['password'].dirty)">
              Password is required
            </mat-error>
            <mat-error *ngIf="form.get('passwordGroup').get('password').hasError('minlength') && (form.get('passwordGroup')['controls']['password'].touched || form.get('passwordGroup')['controls']['password'].dirty)">
              Password must be of minimum 6 characters
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile formGroupName="passwordGroup">
          <mat-form-field>
            <input matInput placeholder="Confirm Password" type="password" autocomplete="off" formControlName="confirmPassword">
            <span matPrefix>
              <img src="/assets/img/collection/keyPassword.png" style="margin-bottom: 10px;">
              &nbsp;
            </span>
            <mat-error *ngIf="form.get('passwordGroup').get('confirmPassword').hasError('required') && (form.get('passwordGroup')['controls']['confirmPassword'].touched || form.get('passwordGroup')['controls']['confirmPassword'].dirty)">
              Confirm Password is required
            </mat-error>
            <mat-error *ngIf="form.get('passwordGroup').get('confirmPassword').hasError('matchPassword') && (form.get('passwordGroup')['controls']['confirmPassword'].touched || form.get('passwordGroup')['controls']['confirmPassword'].dirty)">
              Password do not match
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <!-- <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Email" type="text" autocomplete="off" formControlName="email">
            <span matPrefix>
              <img src="/assets/img/collection/email.png" style="margin-bottom: 10px;">
              &nbsp;
            </span>
            <mat-error *ngIf="form.get('email').hasError('required') && (form.get('email').touched || form.get('email').dirty)">
              Email is required
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('email') && (form.controls['email'].touched || form.controls['email'].dirty)">
              Invalid email
            </mat-error>
          </mat-form-field>
        </mat-grid-tile> -->

        <mat-grid-tile>
          <mat-form-field class="mat-form-field">
            <mat-select placeholder="Roles" formControlName="roles" autocomplete="off" multiple>
              <mat-option *ngFor="let role of getRoles()" [value]="role.getName()">
                <!-- <img src="/assets/img/collection/{{role.img}}" style="margin-bottom: 10px;"> -->
                &nbsp; {{role.getName()}}
              </mat-option>
            </mat-select>
            <span matPrefix>
              <img src="/assets/img/collection/role.png" style="margin-bottom: 10px;">
              &nbsp;
            </span>
            <mat-error *ngIf="form.get('roles').hasError('required') && (form.get('roles').touched || form.get('roles').dirty)">
              Roles is required
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>
      <img src="/assets/img/collection/CANCEL.png" />&nbsp;&nbsp;Cancel
    </button>
    <button mat-raised-button [mat-dialog-close]="{data: data.value, user: user}" [disabled]="form.invalid">
      <img src="/assets/img/collection/save.png" />&nbsp;&nbsp;Save
    </button>
  </mat-dialog-actions>

  <div class="example-loading-shade" *ngIf="data.role.getLoading()">
    <mat-spinner [color]="'warn'"></mat-spinner>
  </div>
