<h1 mat-dialog-title align="center">
  Assignment
</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
  </form>
</mat-dialog-content>

<mat-dialog-content style="max-height: 250px">
  <mat-table style="width:100%" [dataSource]="projects" class="mat-elevation-z0">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{element.getAssignmentCode}}</td>
    </ng-container>
    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef>Site</th>
      <td mat-cell *matCellDef="let element">{{element?.getSite?.getName}}</td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element">{{element?.value | currency: 'Rp. '}}</td>
    </ng-container>
    <ng-container matColumnDef="sow">
      <th mat-header-cell *matHeaderCellDef>Sow</th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let sow of element?.getSowTypes">
         {{ sow?.getSowCode}},&nbsp;
        </span>
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-raised-button color="warn">Close</button>
</mat-dialog-actions>