<h5 mat-dialog-title></h5>
<mat-dialog-content>
  <mat-table [dataSource]="data.sourceTask" class="mat-elevation-z0" style="width: 100%">

    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [value]="row" [checked]="row?.checked === true" (change)="onChecked($event)"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row"> {{row?.getStatus()}} </td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let row"> {{row?.getDescription()}} </td>
    </ng-container>

    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef>Activity</th>
      <td mat-cell *matCellDef="let row"> {{row?.getActivity()?.getName()}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/back.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="data.checkedTask">
    <img src="/assets/img/collection/save.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
