<h1 mat-dialog-title align="center">
  Project
</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [form]="form">
    </formly-form>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-raised-button color="warn">Close</button>
</mat-dialog-actions>