<div class="example-loading-shade" *ngIf="loading">
  <mat-spinner [color]="'warn'"></mat-spinner>
</div>
<div class="row" style="margin-top: -5%">
  <div class="col-md-4">
    <div class="card" style="height: 65px;">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <button color="warn" mat-mini-fab style="margin-top:-17%">
              <mat-icon>store</mat-icon>
            </button>
          </div>
          <div class="col-md-9" style="padding-top: 1%; text-align: left;">
            <p style="font-size: 14px; color: rgb(90, 90, 90)">{{siteWorkTitle}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: -3%">
  <div class="col-md-3">
    <app-widget-component [data]="taskDone"></app-widget-component>
  </div>
  <div class="col-md-3">
    <app-widget-component [data]="taskOnProgress"></app-widget-component>
  </div>
  <div class="col-md-3">
    <app-widget-component [data]="taskNotStarted"></app-widget-component>
  </div>
  <div class="col-md-3">
    <app-widget-component [data]="taskCancel"></app-widget-component>
  </div>
</div>

<div class="row" style="margin-top: -3%">
  <div class="col-md-3">
    <app-widget-component [data]="taskTotal" style="margin-top:5%"></app-widget-component>
    <app-widget-component [data]="siteWorkDuration"></app-widget-component>
    <app-widget-component [data]="poValue" style="margin-top:5%"></app-widget-component>
  </div>
  <div class="col-md-9">
    <div class="card" style="height: 82%">
      <div class="card-body">
        <div class="row" style="text-align: left; color: rgb(194, 192, 192); font-size: 14px">
          <div class="col-md-4">
            Tasks Severity
          </div>
        </div>
        <div class="row" style="margin-top: -3%">
          <app-pie-chart [view]="pieChartOptions.view" [data]="pieChartOptions.data" [labels]="pieChartOptions.labels"
            [legend]="pieChartOptions.legend" [legendPosition]="pieChartOptions.legendPosition" [legendTitle]="pieChartOptions.legendTitle"
            [animation]="pieChartOptions.animation">
          </app-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- <div class="col-md-12">
    <app-card-description [title]="descriptionTitle" [data]="descriptionData"></app-card-description>
  </div> -->
</div>
