<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">{{tableTitle}}</h4>

    <mat-grid-list cols="11" rowHeight="60px" style="margin-left:25px;">

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" (keyup)="datasource.filter = $event.target.value.trim().toLowerCase();"
            autocomplete="off">
          <span matPrefix>
            <mat-icon>search</mat-icon>&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="6"></mat-grid-tile>
      <mat-grid-tile>
        <button class="btn btn-info btn-sm" (click)="onClickAction({action: 'create', value:{}})">
          <span style="font-size: 14px">+</span>&nbsp;&nbsp;Add
        </button>
      </mat-grid-tile>

    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table #table [dataSource]="datasource" matSort matSortActive="id" matSortDirection="desc"
        matSortDisableClear class="content" style="min-width:100%;">

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="latitude">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.getLatitude}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="longitude">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.getLongitude}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="onClickAction({action: 'update', value: row})">
                <span style="font-size:0.95em;">Update</span>
              </button>
              <button mat-menu-item (click)="onClickAction({action: 'delete', value: row})">
                <span style="font-size:0.95em;">Delete</span>
              </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Action">
              <i class="material-icons" style="color:gray"> more_horiz </i>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>
    </div>
    <!-- End Table -->

    <mat-paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="[10, 25, 50, 100]" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
