<div class="card" style="width: 100%; height: 89px">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <button mat-mini-fab (click)="onClick(data.title)" [color]="iconColor" style="margin-top:10%">
          <mat-icon>{{icon}}</mat-icon>
        </button>
      </div>
      <div class="col-md-9" style="text-align: left">
        <h5 style="font-size: 16px; font-weight: bold">{{value}}</h5>
        <p style="font-size: 12px; color: rgb(158, 155, 155)">{{title}}</p>
      </div>
    </div>
  </div>
</div>
