.card-widget {
  width: 100%;
  background-color: rgb(0, 183, 255);
  height: 50%;
}

.card-widget-footer {
  border-top: 1px dotted white;
}

.card-widget-content {
  text-align: center;
  font-size: 42px;
  padding-bottom: 18px;
  color:white;
}

.footer-title {
  font-size: 10px;
  color: white;
  padding: 0px 8px 8px 8px;
  font-weight: bold;
}


.card-title {
  padding-bottom: 5px;
  font-size: 13px;
  color: white;
  font-weight: bold;
}
