<h1 mat-dialog-title align="center">
  Purchase Order
</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [form]="form">
    </formly-form>
  </form>
</mat-dialog-content>
<mat-dialog-content style="max-height: 250px">
  <mat-table style="width:100%" [dataSource]="sourceTable" class="mat-elevation-z0">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
    </ng-container>
    <ng-container matColumnDef="projectCode">
      <th mat-header-cell *matHeaderCellDef>Project Code</th>
      <td mat-cell *matCellDef="let element">{{element?.getProjectCode}}</td>
    </ng-container>
    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef>Site</th>
      <td mat-cell *matCellDef="let element">{{element?.getSite?.getName}}</td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell *matCellDef="let element; let i = index  ">
        <mat-form-field>
          <input matInput type="number" [value]="element?.getPoValue" (keyup)="onValueChanges(i, $event.target.value)"
            autocomplete="off">
          <span matPrefix>
            <img src="/assets/img/collection/price.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onClose()" color="primary" [disabled]="form.invalid">Save</button>
  <button mat-dialog-close mat-raised-button color="warn">Cancel</button>
</mat-dialog-actions>