<div class="card-table" style="margin-top: -20px;">
    <div class="card-header card-header-icon" data-background-color="red">
        <i class="material-icons">assignment</i>
    </div>
    <div class="card-content">
        <h5 class="card-title">{{title}}</h5>
        <!-- <div class="toolbar"></div> -->
        <mat-grid-list cols="12" rowHeight="65px">
            <mat-grid-tile colspan="2">
                <app-type-filter style="width:100%;" [typeFilters]="typeFilters" [formControl]="filterControlTypes">
                </app-type-filter>
            </mat-grid-tile>

            <mat-grid-tile colspan="3">
                <app-search style="width:100%; padding-left: 10%;" [data]="datasource.data"
                    [typeFilter]="filterControlTypes.value" [formControl]="searchControl"></app-search>
            </mat-grid-tile>

            <mat-grid-tile colspan="2"></mat-grid-tile>

            <ng-container *ngFor="let type of actionTypes">
                <div *ngIf="selectField then SELECT"></div>
                <ng-template #SELECT>
                    <div *ngIf="type === 'VIEW' then INFO"></div>
                    <ng-template #INFO>
                        <mat-grid-tile>
                            <button matTooltip="Info" style="cursor: pointer" class="btn btn-warning btn-xs btn"
                                (click)="onEventClick({type: 'INFO', value: {}})">
                                <i class="fa fa-info-circle"></i>
                            </button>
                        </mat-grid-tile>
                    </ng-template>
                </ng-template>
            </ng-container>
        </mat-grid-list>
        <div class="table">
            <div class="example-container mat-elevation-z0">
                <mat-table #table [dataSource]="datasource" matSort>
                    <ng-container *ngFor="let column of columnConfigs">
                        <div *ngIf="column?.columnType === 'string' then STRING"></div>
                        <div *ngIf="column?.columnType === 'date' then DATE"></div>
                        <div *ngIf="column?.columnType === 'object' then OBJECT"></div>
                        <div *ngIf="column?.columnType === 'hover' then HOVER"></div>
                        <div *ngIf="column?.columnType === 'currency' then CURRENCY"></div>
                        <div *ngIf="column?.columnType === 'progressBar' then PROGRESS"></div>
                        <div *ngIf="column?.columnType === 'action' then ACTION"></div>

                        <!-- STRING COLUMN -->
                        <ng-template #STRING>
                            <ng-container [matColumnDef]="column.key">
                                <div *ngIf="column.key !== 'no' else NO">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="mobile-label">{{column.label}} :</span>
                                        {{element[column.key]}}
                                    </mat-cell>
                                </div>
                                <ng-template #NO>
                                    <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index">
                                        <span class="mobile-label">{{column.label}} :</span>
                                        {{(pageIndex*pageSize)+i+1}}
                                    </mat-cell>
                                </ng-template>
                            </ng-container>
                        </ng-template>

                        <!-- STRING DATE -->
                        <ng-template #DATE>
                            <ng-container [matColumnDef]="column.key">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">{{column.label}} :</span>
                                    {{element[column.key] | date: column?.format}}
                                </mat-cell>
                            </ng-container>
                        </ng-template>

                        <ng-template #PROGRESS>
                            <ng-container [matColumnDef]="column.key">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">{{column.label}} :</span>
                                    <app-progress-cell [progress]="element[column.key]"></app-progress-cell>
                                    <!-- {{element[column.key] | date: column?.format}} -->
                                </mat-cell>
                            </ng-container>
                        </ng-template>

                        <ng-template #OBJECT>
                            <ng-container [matColumnDef]="column.key">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">{{column.label}} :</span>
                                    {{element[column.key] ? element[column.key][column.objectKey] : ''}}
                                </mat-cell>
                            </ng-container>
                        </ng-template>

                        <ng-template #CURRENCY>
                            <ng-container [matColumnDef]="column.key">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">{{column.label}} :</span>
                                    {{element[column.key] | currency: column?.local}}
                                </mat-cell>
                            </ng-container>
                        </ng-template>

                        <ng-template #HOVER>
                            <ng-container [matColumnDef]="column.key">
                                <mat-header-cell *matHeaderCellDef>{{column.label}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">{{column.label}} :</span>
                                    <img style="cursor: pointer"
                                        (mouseenter)="onEventClick({type: 'HOVER', value: element})"
                                        src="/assets/img/collection/{{column.icon}}.png">
                                </mat-cell>
                            </ng-container>
                        </ng-template>

                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let element; columns: displayedColumns; let i = index"
                        [ngClass]="{'highlight-cell': rowIndex === i }" [tabindex]="i" style="cursor:pointer"
                        (click)="onSelectRow(element); rowIndex = i" (dblclick)="onDoubleClick(element)"></mat-row>
                </mat-table>
            </div>
            <mat-paginator showFirstLastButtons (page)="pageSize = $event.pageSize; pageIndex=$event.pageIndex"
                [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
            </mat-paginator>
        </div>
    </div>
</div>