<h1 mat-dialog-title align="center">
  Daily Planning
</h1>
<mat-dialog-content>
  <mat-grid-list cols="4" rowHeight="65px">
    <mat-grid-tile colspan="1">
      <mat-form-field>
        <input matInput placeholder="Opex" readonly [value]="opex">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field>
        <input matInput placeholder="Date" readonly [value]="date | date: 'shortDate'">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field>
        <input matInput placeholder="Project Id" readonly [value]="projectId">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field>
        <input matInput placeholder="Site" readonly [value]="site">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
<mat-dialog-content style="max-height: 180px; min-height: 170px;">
  <mat-table [dataSource]="resource" class="mat-elevation-z0" style="width: 100%">
    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef>No. </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{ i + 1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="resourceColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: resourceColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>

<mat-dialog-content style="max-height: 250px; min-height: 200px;">
  <mat-table [dataSource]="tasks" class="mat-elevation-z0" style="width: 100%">
    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{ i + 1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activity">
      <mat-header-cell *matHeaderCellDef>Activity</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="taskColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: taskColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-raised-button color="warn">Close</button>
</mat-dialog-actions>