<mat-progress-bar mode="indeterminate" [color]="'warn'" *ngIf="aaa.getLoading()"></mat-progress-bar>
<div class="container w-xxl w-auto-xs">
  <a href class="navbar-brand block m-t"></a>
  <div class="m-b-lg">
    <div class="text-center" style="margin-bottom: 10px;">
      <strong>LOGIN</strong>
    </div>
    <div *ngIf="aaa.getError()">
      <div class="alert alert-danger" (click)="aaa.clearError()">
        <button type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Error !</strong>
        <br /> Incorrect username or password
      </div>
    </div>
    <form name="form" class="form-validation">
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <mat-form-field style="padding:0px;margin-bottom:0px;">
            <input type="text" matInput placeholder="Email / Username" [formControl]="email" autocomplete="off">
            <span matPrefix>
              <img src="/assets/img/collection/email.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
            </span>
            <mat-error *ngIf="email.hasError('required')">
              Email/Username is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="list-group-item">
          <mat-form-field style="padding:0px;margin-bottom:0px;">
            <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" [formControl]="password"
              autocomplete="off">
            <span matPrefix>
              <img src="/assets/img/collection/key.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
            </span>
            <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;">{{hide ? 'visibility_off' :
              'visibility'}}</mat-icon>
            <mat-error *ngIf="password.hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="col-md-6" style="padding: 0px 5px 0px 0px;">
        <button type="submit" class="btn btn-sm btn-info btn-block" (click)="loginByFacebook()">
          <img src="/assets/img/collection/facebook.png" />&nbsp;&nbsp;LOGIN
        </button>
      </div>
      <div class="col-md-6" style="padding: 0px 0px 0px 5px;">
        <button type="submit" class="btn btn-sm btn-info btn-block" (click)="loginByGoogle()">
          <img src="/assets/img/collection/gmail.png" />&nbsp;&nbsp;LOGIN
        </button>
      </div> -->
      <div class="col-md-12" style="padding: 0px;">
        <button type="submit" class="btn btn-md btn-danger btn-block" [disabled]="invalid()" (click)="login()">
          <img src="/assets/img/collection/login.png" style="margin-bottom: 10px" />&nbsp;&nbsp;LOGIN
        </button>
      </div>
    </form>
  </div>
</div>
