<h2 mat-dialog-title style="text-align:center;">
  <img src="/assets/img/collection/project.png" style="margin-bottom:10px;" />&nbsp;Task
</h2>
<mat-dialog-content>
  <mat-grid-list cols="7" rowHeight="70px">
    <mat-grid-tile colspan="2">
      <mat-form-field class="mat-form-field">
        <mat-select [placeholder]="availableSowType.length === 0 ? 'Not Available' : 'Sow Code'" [formControl]="sowType"
          #singleSelect>
          <app-mat-select-search [(data)]="availableSowType"></app-mat-select-search>
          <mat-option *ngFor="let type of availableSowType" [value]="type">
            {{type.getSowCode}}
          </mat-option>
        </mat-select>
        <span matPrefix>
          <img src="/assets/img/collection/sowCode1.png" style="margin-bottom:10px;" />&nbsp;&nbsp;
        </span>
        <mat-error *ngIf="sowType.hasError('required') && (sowType.touched || sowType.dirty)">
          Sow Code is required
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
      <mat-form-field>
        <input matInput placeholder="SOW Description" [value]="description" disabled>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/CANCEL.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="sowType.value" [disabled]="sowType.invalid">
    <img src="/assets/img/collection/save.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
