<div class="container-home" style="margin-top:-35px;">
  <div class="card-table" style="margin-top:-20px;">
    <div class="card-header card-header-icon" data-background-color="red">
      <i class="material-icons">assignment</i>
    </div>
    <div class="card-content">
      <h5 class="card-title">{{tableTitle}}</h5>
      <div class="toolbar"></div>
      <!-- End Alert -->
      <mat-grid-list cols="12" rowHeight="65px">

        <mat-grid-tile colspan="2">
          <mat-form-field>
            <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter">
              <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
                {{filter.label}}
              </mat-option>
            </mat-select>
            <span matPrefix>
              <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
            </span>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3">
          <mat-form-field>
            <input matInput placeholder="Search" [matAutocomplete]="auto" (keyup)="datasource.filter = $event.target.value.trim().toLowerCase();">
            <mat-autocomplete #auto="matAutocomplete">
              <!-- <mat-option *ngFor="let option of getAutocomplete()" [value]="option">
                    {{option}}
                  </mat-option> -->
            </mat-autocomplete>
            <span matPrefix>
              <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
            </span>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="5"></mat-grid-tile>

        <mat-grid-tile colspan="2">
          <button mat-raised-button (click)="onClickAction({action: 'create', value:{}})">
            <img src="/assets/img/collection/add.png" />&nbsp;
            Add Organization
          </button>
        </mat-grid-tile>

      </mat-grid-list>
      <!-- End Filter -->

      <div class="table flipped">
        <mat-table #table [dataSource]="datasource" matSortActive="id" matSortDirection="desc" matSort class="content mat-elevation-z8"
          style="min-width:150%;">

          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
            <mat-cell *matCellDef="let row;let i = index;">{{ i + 1 }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.address}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.phone}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-button [matMenuTriggerFor]="menu">
                <img src="/assets/img/collection/action.png" />
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onClickAction({action: 'update', value: row})">
                  <img src="/assets/img/collection/update.png" />&nbsp;
                  Update
                </button>
                <button mat-menu-item (click)="onCreateUser(row)" *ngIf="getRoleUser(row)">
                  <img src="/assets/img/collection/login.png" />&nbsp;
                  User System
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <!-- End Table -->

      <mat-paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
        [pageSizeOptions]="[10, 25, 50, 100]" (page)="onSetPage($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>
