<h1 mat-dialog-title align="center">
  Projets List
</h1>
<mat-dialog-content>
  <mat-table style="width:100%" [dataSource]="sources" class="mat-elevation-z0">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
    </ng-container>
    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef>Site</th>
      <td mat-cell *matCellDef="let element">{{element?.site}}</td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element">{{element?.value | currency: 'Rp. '}}</td>
    </ng-container>
    <ng-container matColumnDef="sow">
      <th mat-header-cell *matHeaderCellDef>Sows</th>
      <td mat-cell *matCellDef="let element">
        <img style="cursor: pointer" (mouseenter)="onHoverSow(element?.sowTypes)" src="/assets/img/collection/sowCode1.png">
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        REJECTED
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <!-- <button mat-icon-button matTooltip="Reject" color="warn" (click)="onReject(element)">
          <i style="font-size: 26px" class="fa fa-times-circle-o"></i>
        </button> -->
        <button mat-icon-button matTooltip="Accept" color="primary" (click)="onAccept(element)">
          <i style="font-size: 26px" class="fa fa-check-circle-o"></i>
        </button>
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-raised-button (click)="onClose($event)" color="primary">Save</button> -->
  <button mat-dialog-close mat-raised-button color="warn">Cancel</button>
</mat-dialog-actions>