<h3 mat-dialog-title align="center">
  Contract
</h3>
<mat-dialog-content>
  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
  </form>


  <div class="row">
    <div class="col-md-3">
      <mat-form-field style="width: 80%;  ">
        <input matInput placeholder="Total SSOW" readonly [value]="totalSSOW | localCurrency">
      </mat-form-field>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <div style="text-align: right">
        <button matTooltip="Create" style="cursor: pointer; margin-right: 5px;" class="btn btn-info btn-xs btn" (click)="onAddProject()">
          <i class="fa fa-plus"></i>
        </button>
        <button matTooltip="Update" style="cursor: pointer; margin-right: 5px;" class="btn btn-success btn-xs btn"
          (click)="onUpdateProject()" [disabled]="!selectField">
          <i class="fa fa-edit"></i>
        </button>
        <button matTooltip="Delete" style="cursor: pointer" class="btn btn-danger btn-xs btn"
          (click)="onDeleteProject()" [disabled]="!selectField">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-content style="max-height: 250px">
  <mat-table style="width:100%" [dataSource]="projects" class="mat-elevation-z0">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{element.getAssignmentCode}}</td>
    </ng-container>
    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef>Site</th>
      <td mat-cell *matCellDef="let element">{{element?.getSite?.getName}}</td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element">{{element?.value | currency: 'Rp. '}}</td>
    </ng-container>
    <ng-container matColumnDef="sow">
      <th mat-header-cell *matHeaderCellDef> SSOW </th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let sow of element?.getSowTypes">
          {{sow?.getSowCode}},&nbsp;
        </span>
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
      [ngClass]="{'highlight-cell': rowIndex === i }" [tabindex]="i" style="cursor:pointer"
      (click)="onSelectRow(row); rowIndex = i" (dblclick)="selectedProject = row; onUpdateProject()"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onClose()" color="primary" [disabled]="form.invalid">Save</button>
  <button mat-dialog-close mat-raised-button color="warn">Cancel</button>
</mat-dialog-actions>