<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">{{title}}</h4>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="loading">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <!-- <div *ngIf="report.getError()" class="alert alert-danger">
        <button type="button" class="close" (click)="report.clearError()">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{report.getError().name}} !</strong>
        <br /> {{report.getError().message}}
      </div> -->
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="60px">
      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter"
          (valueChange)="search.setValue(null)">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" autocomplete="off" [formControl]="search">
          <!-- <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of getAutocomplete()" [value]="option">
                {{option}}
              </mat-option>
          </mat-autocomplete> -->
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
      </mat-grid-tile>

      <mat-grid-tile colspan="2"></mat-grid-tile>

      <mat-grid-tile colspan="2">
        <button mat-raised-button (click)="onCreate(datasource.data)">
          <img src="/assets/img/collection/team.png" />&nbsp;
          <span *ngIf="datasource.data.length === 0">Add Team</span>
          <span *ngIf="datasource.data.length !== 0">Edit Team</span>
        </button>
      </mat-grid-tile>

    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table #table [dataSource]="datasource" matSort class="content" style="min-width:145%;" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-template [ngIf]="row?.roleType === 'ENGINEER'">
              <img src="/assets/img/collection/ENGINEER.png" />&nbsp;
            </ng-template>
            <ng-template [ngIf]="row?.roleType === 'TECHNICIAN'">
              <img src="/assets/img/collection/TECHNICIAN.png" />&nbsp;
            </ng-template>
            <ng-template [ngIf]="row?.roleType === 'DOCUMENTATION'">
              <img src="/assets/img/collection/DOCUMENTATION.png" />&nbsp;
            </ng-template>
            <ng-template [ngIf]="row?.roleType === 'CORDINATOR'">
              <img src="/assets/img/collection/CORDINATOR.png" />&nbsp;
            </ng-template>
            {{row?.party?.name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row?.party?.address }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row?.party?.email }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row?.party?.phone }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nip">
          <mat-header-cell *matHeaderCellDef mat-sort-header>NIP</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row?.nip }}
            <span class="trigger" *ngIf="row?.nip === undefined || row?.nip === null ">None</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button [matMenuTriggerFor]="menu">
              <img src="/assets/img/collection/action.png" />
            </button>
            <mat-menu #menu="matMenu">
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" style="color:aliceblue;"></mat-row>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
