<h2 mat-dialog-title class="title-header" style="text-align:center;">
  Severity Detail
</h2>
<mat-dialog-content>

  <mat-grid-list cols="2" rowHeight="65px">

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Task" [value]="data?.getActivity()?.getName()" disabled>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Severity" [value]="data?.getSeverity()" autocomplete="off" disabled>
        <span matPrefix>
          <img src="/assets/img/collection/{{data.getSeverity()}}.png" style="margin-bottom: 10px;">
          &nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field>
        <input matInput placeholder="Note" [value]="data.getNote()" autocomplete="off" disabled>
        <span matPrefix>
          <img src="/assets/img/collection/detail-project.png" style="margin-bottom: 10px;">
          &nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/CANCEL.png" />&nbsp;&nbsp;Close
  </button>
</mat-dialog-actions>
