<h1 mat-dialog-title align="center">
  Project
</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
  </form>
  <mat-form-field>
    <mat-label>Search SSOW</mat-label>
    <mat-select (selectionChange)="onSelectSow($event.value)">
      <app-mat-select-search [(data)]="listSowTypes"></app-mat-select-search>
      <mat-option *ngFor="let sow of listSowTypes;" [value]="sow">
        <div class="row">
          <div class="col-md-2">
            {{sow?.getSowCode}}
          </div>
          <div class="col-md-8">
            {{sow?.getDescription}}
          </div>
          <div class="col-md-2" align="right">
            {{sow?.getPrice | localCurrency}}
          </div>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content style="max-height:250px">
  <mat-table style="width:100%" [dataSource]="sowsDatasource" class="mat-elevation-z0">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
    </ng-container>
    <ng-container matColumnDef="sowCode">
      <th mat-header-cell *matHeaderCellDef> Sow Code </th>
      <td mat-cell *matCellDef="let element;"> {{ element?.getSowCode }} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element;">{{element?.getDescription}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element;let i = index;">
        <button mat-icon-button matTooltip="Delete" style="cursor: pointer" (click)="onDeleteSow(i)">
          <i class="fa fa-trash-o" aria-hidden="true" style="color: rgb(195, 72, 23); font-size: 18px"></i>
        </button>
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onClose()" color="primary" [disabled]="form.invalid">Save</button>
  <button mat-dialog-close mat-raised-button color="warn">Cancel</button>
</mat-dialog-actions>