<h1 mat-dialog-title align="center">
  Projects
</h1>
<mat-dialog-content style="max-height: 500px;">
  <mat-table [dataSource]="datasource" class="mat-elevation-z0" style="width: 100%">
    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef>No. </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{ i + 1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="projectId">
      <mat-header-cell *matHeaderCellDef>Project Id</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{element?.getProjectCode}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="site">
      <mat-header-cell *matHeaderCellDef>Site</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{element?.getSite?.getName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        {{element?.getPoValue | currency: 'Rp. '}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <!-- {{element?.getStatus}} -->
        <app-status-cell [status]="element?.getStatus"></app-status-cell>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-raised-button color="warn">Close</button>
</mat-dialog-actions>