<h2 mat-dialog-title style="text-align:center;">
    <img src="/assets/img/collection/poValue.png" style="margin-bottom:10px;" />&nbsp;Detail Value
  </h2>
  <mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="65px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Estimasi PO" [value]="estimasiPO | localCurrency" disabled>
          <span matPrefix>
            <img src="/assets/img/collection/budget.png" style="margin-bottom:10px;" />&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="PO Value" [value]="poValue | localCurrency" disabled>
          <span matPrefix>
            <img src="/assets/img/collection/poValue.png" style="margin-bottom:10px;" />&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>
      <img src="/assets/img/collection/CANCEL.png" />&nbsp;&nbsp;Cancel
    </button>
  </mat-dialog-actions>
