/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(87, 77, 77);
}

/*loading content */
.success {
  color: #5cb85c;
}

.danger {
  color: #d9534f;
}

.warning {
  color: #f0ad4e;
}

.info {
  color: #5bc0de;
}

.loading,
.loading:after,
.loading:before {
  content: " ";
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: spinner 1600ms infinite ease-in-out;
}

.loading {
  color: #555;
  margin: 64px auto;
  position: relative;
  animation-delay: -160ms;
}

.loading:after {
  left: 64px;
}

.loading:before {
  left: -64px;
  animation-delay: -320ms;
}

.loading:after,
.loading:before {
  position: absolute;
}

@keyframes spinner {
  40% {
    box-shadow: 0 40px 0 0;
  }

  0%,
  80%,
  100% {
    box-shadow: 0 40px 0 -20px;
  }
}

/* You can add global styles to this file, and also import other style files */

.widget {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  margin-top: 0;
  max-height: 200px;
}

/*for header */
.widget .widget-header {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin: -20px 5px 0;
  border-radius: 3px;
  padding: 0;
  background-color: #999999;
}
.widget .widget-header .title {
  color: #ffffff;
}
.widget .widget-header .category {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.62);
}

.widget [data-background-color="purple"] {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.widget [data-background-color="blue"] {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(0, 188, 212, 0.2);
}
.widget [data-background-color="green"] {
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.widget [data-background-color="orange"] {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.widget [data-background-color="red"] {
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(244, 67, 54, 0.2);
}
.widget [data-background-color] {
  color: #ffffff;
}
.widget [data-background-color] a {
  color: #ffffff;
}

.widget-stats .title {
  margin: 0;
}
.widget-stats .widget-header {
  float: left;
  text-align: center;
}
.widget-stats .widget-header i {
  font-size: 30px;
  line-height: 45px;
  width: 45px;
  height: 45px;
}

/*card content */
.widget .category:not([class*="text-"]) {
  color: #999999;
}
.widget .widget-content {
  padding: 10px 20px;
  padding-bottom: 0px;
}
.widget .widget-content .category {
  margin-bottom: 0;
}
.widget .title {
  margin-top: 0;
  font-size: 1.825em;
  line-height: 1.4em;
}
span.unit {
  font-size: 15px;
}
span.unit-small {
  font-size: 12px;
}
.widget-stats .widget-content {
  text-align: right;
}
.widget-content .category {
  font-size: 10px;
}
.text-double {
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
}
.text-double .min {
  color: #46b8da;
}

.text-double .max {
  color: #d43f3a;
}

.max {
  color: #d43f3a;
}
.min {
  color: #46b8da;
}
.average {
  color: #5cb85c;
}

/*card footer*/
.widget .widget-footer {
  margin: 0 20px 10px;
  padding-top: 10px;
  /*border-top: 1px solid #eeeeee;*/
}
.widget .widget-footer .content {
  display: block;
}
.widget .widget-footer div {
  display: inline-block;
}
.widget .widget-footer .author {
  color: #999999;
}
.widget .widget-footer .stats {
  line-height: 22px;
  color: #999999;
  font-size: 12px;
}
.widget .widget-footer h6 {
  color: #999999;
}

/*card image */

.card-product {
  margin-top: 30px;
}

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

.card .card-image {
  height: 60%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  z-index: 3;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-product {
  margin-top: 30px;
}
.card-product .btn-simple.btn-just-icon {
  padding: 0;
}
.card-product .footer {
  margin-top: 5px;
}
.card-product .footer .stats .material-icons {
  margin-top: 4px;
  top: 0;
}
.card-product .footer .price h4 {
  margin-bottom: 0;
}
.card-product .card-title,
.card-product .category,
.card-product .card-description {
  text-align: center;
}
.card-product .card-image {
  min-height: 160px;
  background-size: cover;
  background-position: center center;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ripple-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
}

.card [data-header-animation="true"] {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.card:hover [data-header-animation="true"] {
  -webkit-transform: translate3d(0, -50px, 0);
  -moz-transform: translate3d(0, -50px, 0);
  -o-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
}

.card .card-actions {
  text-align: center;
  margin-top: -60px;
  margin-bottom: -10px;
}

.card .card-actions .btn {
  padding-left: 12px;
  padding-right: 12px;
}
/*.card .card-actions .fix-broken-card {
   position: absolute;
   top: -65px;
 }*/

.card-title a {
  color: #3c4858;
  text-decoration: none;
}

.card-footer {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

.toolbar {
  text-align: right;
  padding: 0;
}

.text-empty {
  text-align: center;
}

/* Navs */
.bg-danger {
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(244, 67, 54, 0.2);
}
.dropdown-menu > li a:hover {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(244, 67, 54, 0.2);
  outline: 0;
}
li a:hover {
  cursor: pointer;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.1s 0.2s;
}

.card-table {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

.card-table .card-header.card-header-icon {
  float: left;
}
.card-table .card-header.card-header-icon i {
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
}

.card-table [data-background-color] {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin: -20px 15px 0;
  border-radius: 3px;
  padding: 15px;
  background-color: #999999;
  position: relative;
}

.card-table [data-background-color="red"] {
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.card-table [data-background-color] {
  color: #ffffff;
}

.card-table .card-content {
  padding: 15px 20px;
  position: relative;
}
.card-table .card-content .category {
  margin-bottom: 0;
}

.material-datatables {
  /*height: 35px;*/
  padding: 0;
}

.search {
  margin-left: 20px;
  width: 30%;
}

.text-bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

thead {
  font-weight: bold;
}

.mat-header-row {
  position: sticky;
  top: 0;
  cursor: pointer;
  background: white;
}

.rowAction:hover {
  background-color: rgba(211, 209, 209, 0.342);
  cursor: pointer;
}

.rowAction:focus {
  background-color: rgba(221, 221, 221, 0.678);
}

// .column-id {
//   flex: 0 0 40px;
// }

// .column-image {
//   flex:0 0 120px;
// }

// .column-action {
//   flex:0 0 50px;
//   margin:0px auto;
//   justify-content: flex-end;
// }

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

//   display: flex;
// justify-content: flex-end;
.flipped,
.flipped .content {
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg); /* IE 9 */
  -webkit-transform: rotateX(180deg); /* Safari and Chrome */
}

.table {
  overflow-x: auto;
}

// .mat-table {
//   display: table;
//   > .mat-header-row,
//   > .mat-row {
//     display: table-row;
//     padding: 0;
//     border: none;
//     font-size: 13px;
//     > .mat-header-cell,
//     > .mat-cell {
//       display: table-cell;
//       height: 48px;
//       vertical-align: middle;
//       border-bottom: 1px solid rgba(0, 0, 0, 0.12);
//     }
//   }
// }

.mat-form-field {
  width: 100%;
  padding-right: 20px;
}

.mat-column-action {
  width: 100px;
  text-align: center;
}

.mat-column-no {
  width: 60px;
}

.no-padder {
  padding: 0px;
}

.trigger {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

// tambahan dari toni
.container-home {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  position: relative;
  max-height: 89vh;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 48px;
}

.highlight-cell {
  background-color: #eeeeee;
}

.text-inside-grid {
  position: absolute;
  left: 30px;
  opacity: 0.75em;
}

.container-home {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  position: relative;
  max-height: 88vh;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 48px;
}

.highlight-cell {
  background-color: #eeeeee;
}
.progress-bar {
  height: 100%;
}

.filter-bar .navbar .navbar-nav .dropdown-menu {
  position: absolute;
}

.wrapper {
  padding: 0;
}

.card-block {
  padding: 1.25rem;
}

.card {
  border-radius: 5px;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border: none;
  margin-bottom: 30px;
}

.card .card-footer {
  background-color: #fff;
  border-top: none;
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px 20px;
}

.card .card-header .card-header-left {
  display: inline-block;
}

.card .card-header .card-header-right {
  border-radius: 0 0 0 7px;
  right: 10px;
  top: 18px;
  display: inline-block;
  float: right;
  padding: 7px 0;
  position: absolute;
}

.card .card-header .card-header-right i {
  margin: 0 8px;
  cursor: pointer;
  font-size: 14px;
  color: #505458;
  line-height: 20px;
}

.card .card-header .card-header-right i.icofont.icofont-spinner-alt-5 {
  display: none;
}

.card .card-header .card-header-right .card-option {
  height: 20px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.card .card-header .card-header-right .card-option li {
  display: inline-block;
}

.card .card-header span {
  color: #919aa3;
  display: block;
  font-size: 13px;
  margin-top: 5px;
}

.card .card-header + .card-block,
.card .card-header + .card-block-big {
  padding-top: 0;
}

.card h5 {
  margin-bottom: 0;
  color: #505458;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4;
}

.card .card-block table tr {
  padding-bottom: 20px;
}

.card .card-block .sub-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.card .card-block code {
  background-color: #eee;
  margin: 5px;
  display: inline-block;
}

.card .card-block .dropdown-menu {
  top: 38px;
}

.card .card-block p {
  line-height: 25px;
}

.card .card-block a.dropdown-item {
  margin-bottom: 0;
  font-size: 14px;
  transition: 0.25s;
}

.card .card-block a.dropdown-item:active,
.card .card-block a.dropdown-item .active {
  background-color: #4680ff;
}

.card .card-block.remove-label i {
  margin: 0;
  padding: 0;
}

.card .card-block.button-list span.badge {
  margin-left: 5px;
}

.card .card-block .dropdown-menu {
  background-color: #fff;
  padding: 0;
}

.card .card-block .dropdown-menu .dropdown-divider {
  background-color: #ddd;
  margin: 3px 0;
}

.card .card-block .dropdown-menu > a {
  padding: 10px 16px;
  line-height: 1.429;
}

.card .card-block .dropdown-menu > li > a:focus,
.card .card-block .dropdown-menu > li > a:hover {
  background-color: rgba(202, 206, 209, 0.5);
}

.card .card-block .dropdown-menu > li:first-child > a:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.card .card-block .badge-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 12px 0;
}

.card .card-block-big {
  padding: 30px 35px;
}

.card .card-block-small {
  padding: 15px 20px;
}

.card .inner-card-block {
  border: 1px solid #ddd;
}

.pcoded .card.full-card {
  position: fixed;
  top: 80px;
  z-index: 99999;
  box-shadow: none;
  right: 0;
  border-radius: 0;
  border: 1px solid #ddd;
  width: calc(100vw - 287px);
  height: calc(100vh - 80px);
}

.pcoded .card.full-card.card-load {
  position: fixed;
}

.pcoded .card.card-load {
  position: relative;
  overflow: hidden;
}

.pcoded .card.card-load .card-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 999;
}

.pcoded .card.card-load .card-loader i {
  margin: 0 auto;
  color: #ab7967;
  font-size: 20px;
}

.pcoded[vertical-nav-type="expanded"] .card.full-card {
  width: calc(100vw - 287px);
}

// .pcoded[vertical-nav-type="collapsed"] .card.full-card {
//   width: calc(100vw - 97px);
// }

.pcoded[vertical-nav-type="offcanvas"] .card.full-card {
  width: 100vw;
}

.card-header-text {
  margin-bottom: 0;
  font-size: 1rem;
  color: rgba(51, 51, 51, 0.85);
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.icofont-rounded-down {
  -webkit-transition: all ease-in 0.3s;
  display: inline-block;
  transition: all ease-in 0.3s;
}

.icon-up {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-refresh {
  -webkit-animation: mymove 0.8s infinite linear;
  animation: mymove 0.8s infinite linear;
  display: inline-block;
}

@-webkit-keyframes mymove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes mymove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.breadcrumb-title a {
  font-size: 14px;
  color: #4a6076;
}

.breadcrumb-title li:last-child a {
  color: #7e7e7e;
}

.sub-title {
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #2c3e50;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  display: table;
  max-width: 100%;
  > .mat-header-row,
  > .mat-row {
    display: table-row;
    padding: 0;
    border: none;
    font-size: 13px;
    > .mat-header-cell,
    > .mat-cell {
      display: table-cell;
      height: 48px;
      vertical-align: middle;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}

.mobile-label {
  display: none;
}

.mat-cell,
.mat-header-cell {
  word-wrap: break-word;
  display: table-cell;
  line-break: unset;
  padding: 0px 5px;
  max-width: 300px;
  overflow: hidden;
  vertical-align: middle;
  min-height: auto;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
  font-size: 10px;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}
