.sidebar[data-background-color=red] {
  background-color: #e53935;
}

.main-panel,
.sidebar,
.sidebar-wrapper {
  transition-property: top, bottom, width;
  transition-duration: .2s, .2s, .35s;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}

.sidebar[data-color=white] .nav .nav-item.active>a:not([data-toggle=collapse]) {
  color: #3c4858;
  opacity: 1;
  box-shadow: 0 4px 20px 0 rgba(252, 252, 252, 0.486), 0 7px 10px -5px rgb(60, 72, 88);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.sidebar .logo {
  padding: 15px 0;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;
}

.sidebar .logo:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(180, 180, 180, .3);
}

.sidebar .logo a.logo-mini {
  opacity: 1;
  float: left;
  width: 30px;
  text-align: center;
  margin-left: 23px;
  margin-right: 15px;
}

.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0;
  display: inline-block;
  font-size: 18px; // color: #3c4858;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}

a:focus,
a:hover {
  color: #89229b;
  text-decoration: none;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 991px) {
  .sidebar {
    box-shadow: none;
    position: fixed;
    display: block;
    top: 0;
    height: 100vh;
    width: 260px;
    right: 0;
    left: auto;
    z-index: 1032;
    visibility: visible;
    background-color: #9a9a9a;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    -webkit-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
    transition: all .33s cubic-bezier(.685, .0473, .346, 1);
  }
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.sidebar .logo-img {
  width: 42px;
  max-height: 42px;
}

div {
  display: block;
}

.sidebar .logo a.logo-mini {
  opacity: 1;
  float: left;
  width: 30px;
  text-align: center;
  margin-left: 23px;
  margin-right: 15px;
}

.sidebar .logo-img img {
  width: 42px;
  top: 13px;
  left: 18px;
  position: absolute;
}

.sidebar[data-background-color=red] .simple-text,
.sidebar[data-background-color=red] .user a {
  color: #fff;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

.sidebar .logo a.logo-normal {
  display: block;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sidebar[data-background-color=red] .simple-text,
.sidebar[data-background-color=red] .user a {
  color: #fff;
}

.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0;
  display: inline-block;
  font-size: 18px; // color: #3c4858;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}

.sidebar-mini, i {
  position: relative;
  bottom: 2px;
  margin-right: 12px;
  font-size: 16px;
}

.animation,
.animation-transition-general,
.carousel .carousel-indicators li,
.hide-sidebar .sidebar,
.hide-sidebar.sidebar-mini .sidebar,
.lock-page .card-profile,
.login-page .card-login,
.sidebar .logo a.logo-mini,
.sidebar .logo a.logo-normal,
.sidebar .nav p,
.sidebar .sidebar-wrapper .user .user-info [data-toggle=collapse]~div>ul>li>a span,
.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span,
.sidebar .user .photo,
.sidebar .user .user-info>a>span {
  transition: all .3s linear;
}

.sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 30px;
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.main-panel,
.sidebar,
.sidebar-wrapper {
  transition-property: top, bottom, width;
  transition-duration: .2s, .2s, .35s;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}

div {
  display: block;
}

.sidebar .user {
  padding-bottom: 20px;
  margin: 20px auto 0;
  position: relative;
}

.sidebar .user .photo {
  width: 34px;
  height: 34px;
  overflow: hidden;
  float: left;
  z-index: 5;
  margin-right: 11px;
  border-radius: 50%;
  margin-left: 23px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

//============================================================================================================
*,
::after,
::before {
  box-sizing: border-box;
}

.sidebar .user .user-info>a {
  display: block;
  line-height: 18px;
  font-size: 14px;
}

.sidebar .user a {
  color: #3c4858;
  padding: .5rem 15px;
  white-space: nowrap;
}

.bootstrap-tagsinput .tag,
.bootstrap-tagsinput [data-role=remove],
.caret,
.sidebar a {
  transition: all 150ms ease-in;
}

.btn-group.bootstrap-select.open .caret,
.dropdown.open .caret,
.dropup.open .caret,
a[data-toggle=collapse][aria-expanded=true] .caret {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sidebar .user .user-info>a>span {
  display: block;
  position: relative;
  opacity: 1;
}

//============================================================================================================
.h1,
.h2,
.h3,
.h4,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}

//============================================================================================================
*,
::after,
::before {
  box-sizing: border-box;
}

.sidebar .nav {
  margin-top: 15px;
  display: block;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.sidebar[data-color=white] .nav .nav-item.active>a:not([data-toggle=collapse]) {
  color: #3c4858;
  opacity: 0;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(60, 72, 88, .4);
}

.sidebar[data-background-color=red] .nav .nav-item .nav-link {
  color: #fff;
}

.sidebar[data-color=white] li.active>a {
  background-color: rgba(155, 139, 139, 0.089);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(60,72,88,.4);
}

.sidebar .nav li.active>a,
.sidebar .nav li.active>a i {
  color: #fff;
}

.sidebar .nav li:first-child>a {
  margin: 0 15px;
}

.bootstrap-tagsinput .tag,
.bootstrap-tagsinput [data-role=remove],
.caret,
.sidebar a {
  transition: all 150ms ease-in;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.nav-link {
  text-transform: uppercase;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.sidebar[data-color=white] .nav .nav-item.active>a:not([data-toggle=collapse]) i {
  color: rgba(60, 72, 88, .8);
}

.sidebar[data-background-color=red] .nav .nav-item i {
  color: rgba(255, 255, 255, .8);
}

.nav li.active>a i {
  color: #fff;
}

.sidebar .nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}

a .material-icons {
  vertical-align: middle;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr; // -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
}

.sidebar .nav li .dropdown-menu a,
.sidebar .nav li a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3c4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
}

dl,
ol,
p,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.nav .nav-item {
  position: relative;
}

.sidebar[data-background-color=red] .logo:after,
.sidebar[data-background-color=red] .nav li.separator:after,
.sidebar[data-background-color=red] .user:after {
  background-color: rgba(255, 255, 255, .3);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.sidebar .user:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(180, 180, 180, .3);
}

.sidebar .user .user-info .caret {
  position: absolute;
  top: 8px;
  right: 15px;
}

.sidebar .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.bootstrap-tagsinput .tag,
.bootstrap-tagsinput [data-role=remove],
.caret,
.sidebar a {
  transition: all 150ms ease-in;
}

b,
strong {
  font-weight: bolder;
}

.nav .nav-item {
  position: relative;
}

.sidebar .sidebar-wrapper .user .user-info [data-toggle=collapse]~div>ul>li>a .sidebar-mini,
.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-mini {
  text-transform: uppercase;
  width: 30px;
  margin-right: 15px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  float: left;
  display: inherit;
}

.sidebar .sidebar-wrapper .user .user-info [data-toggle=collapse]~div>ul>li>a span,
.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span {
  display: inline-block;
}

.sidebar .nav li a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3c4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.sidebar[data-color=white] .nav .nav-item.active>a:not([data-toggle=collapse]) {
  color: #3c4858;
  opacity: 1;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(60, 72, 88, .4);
}

.sidebar[data-background-color=red] .nav .nav-item .nav-link {
  color: #fff;
}

.nav-link>li>a:focus, .nav-link>li>a:hover {
  text-decoration: none;
  background-color: none;
}

.sidebar[data-color=white] li.active>a {
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 255, 255, .4);
}

.sidebar .nav li.active>a,
.sidebar .nav li.active>a i {
  color: #fff;
}

.sidebar .nav li:first-child>a {
  margin: 0 15px;
}

.sidebar .nav .caret {
  margin-top: 13px;
  position: absolute;
  right: 6px;
}

.sidebar .nav li .dropdown-menu a,
.sidebar .nav li a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3c4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}


.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.sidebar[data-background-color=red] .simple-text,
.sidebar[data-background-color=red] .user a {
  color: #fff;
}

.sidebar[data-background-color=red] .sidebar-background:after {
  opacity: .8;
  background: #f44336;
  opacity: .8;
}

.sidebar .sidebar-background:after {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: #fff;
  opacity: .93;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.sidebar .sidebar-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}

.perfect-scrollbar-on .main-panel,
.perfect-scrollbar-on .sidebar {
  height: 100%;
  max-height: 20%;
}

.sidebar[data-background-color=red] .nav li.active>[data-toggle=collapse],
.sidebar[data-background-color=red] .nav li:hover:not(.active)>a {
  background-color: rgba(255, 255, 255, .1);
}

.sidebar[data-background-color=red] .nav .nav-item .nav-link {
  color: #fff;
}

.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  bottom: 2px;
  position: absolute;
}

.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  bottom: 0;
  position: absolute;
}

.ps--active-x>.ps__rail-x,
.ps--active-y>.ps__rail-y {
  display: block;
  background-color: transparent;
}
