<div class="sidebar" data-background-color="red" data-color="white" data-image="../../assets/img/sidebar-5.jpg">
  <div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-img">
        <img src="../../assets/img/angular2-logo-white.png">
      </div>
    </a>
    <a class="simple-text logo-normal"> SPMS </a>
  </div>
  <div class="sidebar-wrapper ps ps--active-y">
    <form class="navbar-form navbar-right" role="search" *ngIf="isMobileMenu()">
      <div class="form-group form-black is-empty">
        <input type="text" class="form-control" placeholder="Search">
        <span class="material-input"></span>
      </div>
      <button type="submit" class="btn btn-white btn-round btn-just-icon">
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
      </button>
    </form>
    <!-- <div class="user">
        <div class="photo">
          <img src="./assets/img/faces/avatar.jpg">
        </div>
        <div class="user-info">
          <a class="collapsed" data-toggle="collapse" data-target="#collapseExample" href="#collapseExample">
            <span> Tania Andrew
              <b class="caret"></b>
            </span>
          </a>
          <div class="collapse" id="collapseExample" name="collapseExample">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <span class="sidebar-mini">MP</span>
                  <span class="sidebar-normal">My Profile</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <span class="sidebar-mini">EP</span>
                  <span class="sidebar-normal">Edit Profile</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <span class="sidebar-mini">S</span>
                  <span class="sidebar-normal">Settings</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    <ul class="nav">
      <ng-container *ngFor="let route of ROUTES">
        <li class="nav-item" routerlinkactive="active" *ngIf="aaa.isAuthorized(route['scope'])"
         (click)="setActiveRoute(route['id'])">
          <a class="nav-link" *ngIf="route['child'].length !== 0" data-toggle="collapse"
          href="#{{route['id']}}">
            <i class="material-icons">{{route['icon']}}</i>
            <p>{{route['title']}}
              <b class="caret"></b>
            </p>
          </a>

          <div class="accordion {{route['collapse']}}" id="{{route['id']}}">
            <ul class="nav">
              <ng-container *ngFor="let child of route['child']">
                <li
                 routerlinkactive="active" *ngIf="aaa.isAuthorized(child['scope'])" class="nav-item {{child['class']}}">
                  <a class="nav-link" [routerLink]="child['path']" (click)="routeNavigate(child['path'])">
                    <span class="sidebar-mini">
                      <i class="material-icons" style="font-size: 16px;">{{child['icon']}}</i>
                    </span>
                    <span class="sidebar-normal">{{child['title']}}</span>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>

          <ul class="nav" *ngIf="route['child'].length === 0">
            <li routerlinkactive="active" class="nav-item {{route['class']}}" (click)="setActiveRoute(route['id'])">
              <a class="nav-link" (click)="routeNavigate(route['path'])" [routerLink]="route['path']">
                <i class="material-icons">{{route['icon']}}</i>
                <p>{{route['title']}}</p>
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
      <li routerlinkactive="active" class="nav-item">
        <a class="nav-link" [routerLink]="'login'" (click)="aaa.logout()">
          <i class="material-icons">logout</i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; right: 0px;">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; height: 302px; right: 0px;">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 136px;"></div>
    </div>
  </div>
  <div class="sidebar-background" style="background-image: url(../../assets/img/sidebar-5.jpg)"></div>
