<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{title}}</h5>

    <div class="example-loading-shade" *ngIf="loading">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>

    <mat-grid-list cols="11" rowHeight="65px" style="margin-left:25px;">
      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter['value']">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" (keyup)="datasource.filter = $event.target.value.trim().toLowerCase();"
            autocomplete="off">
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4"></mat-grid-tile>
    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table #table [dataSource]="datasource" matSort matSortDirection="desc" matSortDisableClear class="content mat-elevation-z8"
        style="min-width:170%;" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row['party']?.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row['party']?.address}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row['party']?.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row['party']?.phone}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row['party']?.gender}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="birthDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Birth Date</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row['party']?.birthDate | date: 'longDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nip">
          <mat-header-cell *matHeaderCellDef mat-sort-header>NIP</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.getNIP}}
            <span class="trigger" *ngIf="row.getNIP === undefined || row.getNIP === null ">None</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="region">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Region</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.getRegion.getName}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="[10, 25, 50, 100]" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
