<h2 mat-dialog-title class="title-header" style="text-align:center;"> Report alarm
</h2>
<mat-dialog-content>

  <mat-grid-list cols="2" rowHeight="65px">

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Task" [value]="getTask()" disabled>
        <span matPrefix>
          <img src="/assets/img/collection/ON_PROGRESS.png" style="margin-bottom: 10px;">
          &nbsp;&nbsp;
        </span>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select placeholder="Severity" [formControl]="severity">
          <mat-option *ngFor="let option of severities" [value]="option">
            <app-severity-cell [severity]="option"></app-severity-cell>
          </mat-option>
        </mat-select>
        <span matPrefix>
            <img src="/assets/img/collection/{{severity.value}}.png" style="margin-bottom: 10px;"/>&nbsp;&nbsp;
        </span>
        <mat-error *ngIf="severity.hasError('required')">
            You must select one severity
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
        <mat-form-field>
            <input matInput placeholder="Note" [formControl]="note" autocomplete="off">
            <span matPrefix>
              <img src="/assets/img/collection/detail-project.png" style="margin-bottom: 10px;">
              &nbsp;&nbsp;
            </span>
            <mat-error *ngIf="note.hasError('required')">
              You must input note value
            </mat-error>
        </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/back.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="data.value" [disabled]="invalid()">
    <img src="/assets/img/collection/save.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
