<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{title}}</h5>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="loading">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <!-- <div *ngIf="siteWork.getError()" class="alert alert-danger">
          <button type="button" class="close" (click)="siteWork.clearError()">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>{{siteWork.getError().name}} !</strong>
          <br /> {{siteWork.getError().message}}
        </div> -->
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null);">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" [formControl]="search">
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <mat-select placeholder="Filter By Severity" multiple [formControl]="formFilterSeverity">
            <mat-option *ngFor="let severity of severityValue" [value]="severity">
              {{severityLabel[severity]}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="4"></mat-grid-tile>
    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table #table [dataSource]="datasource"
      matSort class="content" style="min-width:100%" (matSortChange)="sortData($event)">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="sowCode">
          <th mat-header-cell *matHeaderCellDef>SOW Code</th>
          <td mat-cell *matCellDef="let row;let i = index;">
            <button mat-button (click)="showDescSow(row?.getSow?.getSowType)">
              {{row?.getSow?.getSowType?.getSowCode}}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="taskType">
          <th mat-header-cell *matHeaderCellDef>Task Type</th>
          <td mat-cell *matCellDef="let row;let i = index;" (click)="showDescSeverity(row)">
            {{row?.getTaskType}}</td>
        </ng-container>

        <ng-container matColumnDef="activity">
          <th mat-header-cell *matHeaderCellDef>Activity</th>
          <td mat-cell *matCellDef="let row;let i = index;" (click)="showDescSeverity(row)">
            {{row?.getActivity?.getName}}</td>
        </ng-container>

        <ng-container matColumnDef="severity">
          <th mat-header-cell *matHeaderCellDef>Severity</th>
          <td mat-cell *matCellDef="let row;let i = index;" (click)="showDescSeverity(row)">
            <!-- <app-severity-cell [severity]="row?.getSeverity"></app-severity-cell> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row;let i = index; columns: columns;" style="color:aliceblue; cursor: pointer;"
        (click)="selectedId = row?.getId" [ngClass]="{'highlight-cell': selectedId == row.id}"
        [tabIndex]="i"></tr>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0"
    [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
