<h2 mat-dialog-title style="text-align:center">{{value?.formTitle}}</h2>
<mat-dialog-content style="max-height: 250px">
  <table mat-table [dataSource]="datasource" style="width: 100%;">
    <div *ngFor="let column of value?.columns">
      <ng-container *ngIf="column?.columnDef === 'no'" matColumnDef="{{column?.columnDef}}">
        <th mat-header-cell *matHeaderCellDef>{{column?.title}}</th>
        <td mat-cell *matCellDef="let row;let i = index;">{{ i + 1 }}</td>
      </ng-container>

      <ng-container *ngIf="column?.columnDef !== 'no'" matColumnDef="{{column?.columnDef}}">
        <th mat-header-cell *matHeaderCellDef>{{column?.title}}</th>
        <td mat-cell *matCellDef="let row;let i = index;">{{row[column?.columnDef]}}</td>
      </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/back.png" />&nbsp;&nbsp;Cancel
  </button>
</mat-dialog-actions>
