<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">{{title}}</h4>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="loading">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <!-- <div *ngIf="report.getError()" class="alert alert-danger">
          <button type="button" class="close" (click)="report.clearError()">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>{{report.getError().name}} !</strong>
          <br /> {{report.getError().message}}
        </div> -->
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null);">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="4">
        <mat-form-field>
          <input matInput placeholder="Search" autocomplete="off" [formControl]="search">
          <!-- <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of getAutocomplete()" [value]="option">
                  {{option}}
                </mat-option>
          </mat-autocomplete> -->
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <!-- <app-range-date (OnSelectDate)="updateRange($event)"></app-range-date> -->
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <button mat-raised-button (click)="onCreate()">
          <img src="/assets/img/collection/calendar.png" />&nbsp;
          <span>Add Weekly Planning</span>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table #table [dataSource]="datasource" matSort class="content" style="min-width:100%;"
      (matSortChange)="sortData($event)">

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img style="margin-bottom:8px;" src="/assets/img/collection/calendar.png" />
            {{row.getStartDate | date: 'longDate'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img style="margin-bottom:8px;" src="/assets/img/collection/calendar.png" />
            {{row.getEndDate | date: 'longDate'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="operational">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Operational</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img style="margin-bottom:8px;" src="/assets/img/collection/price.png" />
            {{row.getOperational | localCurrency}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="submit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Submit</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <app-submit-cell [submit]="row.getSubmit"></app-submit-cell>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button [matMenuTriggerFor]="menu">
              <img src="/assets/img/collection/action.png" />
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showTask(row?.getTasks)">
                <img src="/assets/img/collection/project.png" />&nbsp;
                Task
              </button>
              <button mat-menu-item *ngIf="!row.getSubmit" (click)="onUpdate(row)">
                <img src="/assets/img/collection/update.png" />&nbsp;&nbsp;Update
              </button>
              <button mat-menu-item *ngIf="!row.getSubmit" (click)="onSubmit(row)">
                <img src="/assets/img/collection/submit.png" />&nbsp;&nbsp;Submit
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" style="color:aliceblue;" [ngClass]="{'highlight-cell': selectedId == row.id}"></mat-row>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
