<h2 mat-dialog-title style="text-align:center;">
  <p>Create Document</p>
</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-grid-list cols="3" rowHeight="70px">
      <mat-grid-tile colspan="1">
        <mat-form-field>
          <input matInput placeholder="Number" autocomplete="off" formControlName="number">
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/key.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field>
          <input matInput placeholder="Title" autocomplete="off" formControlName="title">
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/detail-project.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field>
          <mat-select placeholder="Author" formControlName="author">
            <mat-option *ngFor="let author of data.author" [value]="author?.getNIP">
              {{author?.getParty?.name}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/DOCUMENTATION.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field>
          <mat-select placeholder="Reviewer" formControlName="reviewer">
            <mat-option *ngFor="let reviewer of customerData" [value]="reviewer?.getParty?.name">
              {{reviewer?.getParty?.name}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/organization.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field>
          <mat-select placeholder="Document Type" formControlName="type">
            <mat-option *ngFor="let docType of documentType" [value]="docType">
              {{typeLabel[docType]}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/project.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    <img src="/assets/img/collection/CANCEL.png" />&nbsp;&nbsp;Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="onCreateDoc" [disabled]="form.invalid">
    <img src="/assets/img/collection/save.png" />&nbsp;&nbsp;Save
  </button>
</mat-dialog-actions>
