<div class="card-table" style="margin-top:-20px;">
  <div class="card-header card-header-icon" data-background-color="red">
    <i class="material-icons">assignment</i>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{title}}</h5>
    <div class="toolbar"></div>

    <div class="example-loading-shade" *ngIf="options.loading">
      <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <!-- End Loading -->

    <!-- <div *ngIf="siteWork.getError()" class="alert alert-danger">
        <button type="button" class="close" (click)="siteWork.clearError()">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{siteWork.getError().name}} !</strong>
        <br /> {{siteWork.getError().message}}
      </div> -->
    <!-- End Alert -->

    <mat-grid-list cols="12" rowHeight="65px">

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-select placeholder="Type Filter" [(ngModel)]="typeFilter" (valueChange)="search.setValue(null);">
            <mat-option *ngFor="let filter of typeFilters" [value]="filter.value">
              {{filter.label}}
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom: 10px;" src="/assets/img/collection/search-detail.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field>
          <input matInput placeholder="Search" [formControl]="search">
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="4" *ngIf="options?.config?.selectFilter">
        <mat-form-field>
          <mat-select [placeholder]="options?.config?.selectFilterPlaceholder" [formControl]="selectFilterControl">
            <mat-option *ngFor="let val of options?.config?.selectfilterValue" [value]="val?.value">
              <div class="row">
                <div *ngFor="let label of val?.label" class="col-md-{{12/val?.label?.length}}">
                  <p>{{label}}</p>
                </div>
              </div>
            </mat-option>
          </mat-select>
          <span matPrefix>
            <img style="margin-bottom:10px;" src="/assets/img/collection/search.png" />&nbsp;&nbsp;
          </span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3"></mat-grid-tile>
    </mat-grid-list>
    <!-- End Filter -->

    <div class="table flipped">
      <mat-table #table [dataSource]="datasource" matSort class="content" style="min-width:100%">

        <div *ngFor="let column of options.config.columns">
          <ng-container *ngIf="column?.columnDef === 'no'" matColumnDef="{{column?.columnDef}}">
            <th mat-header-cell *matHeaderCellDef>{{column?.title}}</th>
            <td mat-cell *matCellDef="let row;let i = index;">{{ (pageIndex*pageSize) + i + 1 }}</td>
          </ng-container>

          <ng-container *ngIf="column?.columnDef !== 'no'" matColumnDef="{{column?.columnDef}}">
            <th mat-header-cell *matHeaderCellDef>{{column?.title}}</th>
            <td mat-cell *matCellDef="let row;let i = index;">{{row[column?.columnDef]}}</td>
          </ng-container>
        </div>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns; let i = index" style="color:aliceblue;" class="rowAction"
          [tabindex]="i" style="cursor:pointer" (click)="rootPage(row)"></mat-row>
      </mat-table>
    </div>
    <!-- End Table -->

    <mat-paginator #paginator [length]="datasource ? datasource.data.length : 0" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizes" (page)="onSetPage($event)" showFirstLastButtons>
    </mat-paginator>
    <!-- End Paginator -->

  </div>
</div>
