      .rowAction:hover {
        background-color: rgba(211, 209, 209, 0.342);
        cursor: pointer;
      }

      .rowAction:focus {
        background-color: rgba(221, 221, 221, 0.678);
      }
